/* GERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #000000e1;
  border: none;
}

body {
  background-color: #fff;
  background-size: cover;
}

textarea:focus, input:focus{
  outline: none;
}

a, laber {
  font-size: .8rem; /* 16 * .8 = x */
}

a:hover {
  color: #0084ff;
}

.barra {
  background-color: #022a50;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
}
/* GERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #000000e1;
  border: none;
}

body {
  background-color: #fff;
  background-size: cover;
}

textarea:focus, input:focus{
  outline: none;
}

a, laber {
  font-size: .8rem; /* 16 * .8 = x */
}

.barra {
  background-color: #022a50;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
}

.logo {
  font-size: 40px;
  font-family: Impact;
  margin-top: 25px;
  color: #fff;
  margin-left: 70px;
  position: fixed;
}

/* LOGIN_CONTAINER */

#login_container{
background-color: rgba(192, 192, 192, 0.459);
width: 400px;
margin-left: auto;
margin-right: auto;
padding: 20px;
margin-top: 210px;
text-align: center;
border-radius: 10px;
}

/* FORMULÁRIO */

.form {
  margin-top: 50px;
  margin-bottom: 40px;
}

label1, label, input{
  display: block;
  width: 100%;
  text-align: left;
  margin-top: 10px;
}

label1{
  font-weight: bold;
  margin-top: 50px;
}

label{
  font-weight: bold;
  margin-top: 20px;
}

input{
  border-bottom: 2px solid #000000d0;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
}

input:focus {
  border-bottom: 2px solid #0084ff;
  transition: .5s;
}

#forgot-pass{
  text-align: right;
  display: block;
}

.acesso {
  text-decoration: none;
  text-align: center;
  text-transform: initial;
  font-weight: bold;
  border: 40px;
  border-radius: 15px;
  margin-top: 13px;
  color: #fff;
  background-color: #003f7a;
  font-size: 23px;
  font-family: sans-serif;
  cursor: pointer;
}

.acesso:hover{
  transition: .5s;
}