<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'cadastro-tec-style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Cadastro_Tecnico</title>
</head>
<body>
  <div id="main_container">
    <h1 class="barra-principal">RAL >> Cadastro >> Responsável Técnico pelo RAL</h1>
    <h1 class="barra2"> Titular >> Indentificação</h1>
      <h1 class="cnpj">CNPJ: 00.000.000/0000-00</h1>
      <h1 class="RS">Razão Social: Mineração Nacional S.A.</h1>

    <form id="Cadastro_tec_RAL">
        <div class="barra-principal2">
          <h1> Responsável pelo RAL >> Indentificação</h1></div>
        <div class="button-tec">  
          <label for=" CPF" required>CPF:</label>
          <input type="text" name="CPF" id="CPF"></div>
          <h1 class="name-tec">Nome: (Nome do Responsável Tecnico pelo RAL)</h1>

      <div class="barra-principal3">
        <h1>CREA - Registro Profissional</h1></div>

        <div class="buttons-CREA">
          <label for="">Profissão:</label>
        <select id="Profissão" style="margin-right: 50px;">
          ><option value="">--Selecione--</option>
          <option value="">Engenheiro de Minas</option>
          <option value="">Geólogo</option>
          <option value="">Geólogo de Engenharia</option>
          <option value="">Outros...</option>
        </select>
        <label for="" >Número:</label>
        <input type="text" name="Número" id="Número">
        </div>

        <div class="button-CREA2">
          <label for="">Jurisdição:</label>
        <select id="jurisdiction"  style="margin-right: 110px;">
          <option value="">--Selecione--</option>
          <option value="">CREA-AC</option>
          <option value="">CREA-AL</option>
          <option value="">CREA-AM</option>
          <option value="">CREA-AP</option>
          <option value="">CREA-BA</option>
          <option value="">CREA-CE</option>
          <option value="">CREA-DF</option>
          <option value="">CREA-ES</option>
          <option value="">CREA-GO</option>
          <option value="">CREA-MA</option>
          <option value="">CREA-MG</option>
          <option value="">CREA-MS</option>
          <option value="">CREA-MT</option>
          <option value="">CREA-PA</option>
          <option value="">CREA-PB</option>
          <option value="">CREA-PE</option>
          <option value="">CREA-PI</option>
          <option value="">CREA-PR</option>
          <option value="">CREA-RJ</option>
          <option value="">CREA-RN</option>
          <option value="">CREA-RO</option>
          <option value="">CREA-RR</option>
          <option value="">CREA-RS</option>
          <option value="">CREA-SC</option>
          <option value="">CREA-SE</option>
          <option value="">CREA-SP</option>
          <option value="">CREA-TO</option>
        </select> <label for="">Especifique a Profissão</label> <input type="text" name="text" id="text"> 
        </div>

        <div class="barra-principal3">
          <h1>ART de Elaboração do RAL</h1>
          </div>

          <div class="buttons-ART">
            <label for="">Número:</label>
            <input type="texto" name="Número" id="Número" style="margin-right: 30px;">
            <label for="">Data:</label>
            <input type="date" name="Data" id="Data" style="margin-right: 30px;">
            <label for="">Jurisdição:</label>
            <select id="Jurisdição">
              <option value="">--</option>
              <option value="">CREA-AC</option>
              <option value="">CREA-AL</option>
              <option value="">CREA-AM</option>
              <option value="">CREA-AP</option>
              <option value="">CREA-BA</option>
              <option value="">CREA-CE</option>
              <option value="">CREA-DF</option>
              <option value="">CREA-ES</option>
              <option value="">CREA-GO</option>
              <option value="">CREA-MA</option>
              <option value="">CREA-MG</option>
              <option value="">CREA-MS</option>
              <option value="">CREA-MT</option>
              <option value="">CREA-PA</option>
              <option value="">CREA-PB</option>
              <option value="">CREA-PE</option>
              <option value="">CREA-PI</option>
              <option value="">CREA-PR</option>
              <option value="">CREA-RJ</option>
              <option value="">CREA-RN</option>
              <option value="">CREA-RO</option>
              <option value="">CREA-RR</option>
              <option value="">CREA-RS</option>
              <option value="">CREA-SC</option>
              <option value="">CREA-SE</option>
              <option value="">CREA-SP</option>
              <option value="">CREA-TO</option>
            </select></div>
          
          <div class="authorization">
            <h1 class="barra-principal4">Autorização</h1>
          </div>
          <p class="authorization-dados">Autoriza a inclusão dos dados no Cadastro Público de Profissionais de Mineração a ser divulgado?</p>

          <div class="button-accept">
            <input type="radio" id="option" name="Sim" value="Sim"autocomplete="off"> <label for="option">Sim</label>
          </div>
          <div class="button-accept">
            <input type="radio" id="option" name="Não" value="Não" autocomplete="off" > <label for="option">Não</label>
          </div>

          <div class="button-next">
            <button type="submit">Gravar</button>
          </div>
      </div>
    </form>
  </div>
</body>
</html>
