<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'cadastro-legal-style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Caracterização_legal</title>
</head>
<body>
    <form action="submit" method="POST"> {% csrf_token %}
        <div id="main_container">
            <h1 class="barra_principal">Caracterização Legal - Substâncias</h1>

        <div class="button1">
                    <label for="Processo_ANM">Processo ANM:</label>
            <input type="text" name="Processo_anm" id="Processo_anm"></div>

        <div class="exemplo">
            <label for="exemplo">Ex.: 999.999/9999</label> <!-- bug fixed by belt -->
        </div>

        <div class="button2">
            <label for="">Substância:</label>
            <select name="substance" style="margin-right: 15px;">
                <option value="">--Selecione--</option>
                <option value="ACTINOLITA">ACTINOLITA</option>
                <option value="ADAMELITO">ADAMELITO</option>
                <option value="ADUBOS ORGÂNICOS">ADUBOS ORGÂNICOS</option>
                <option value="AFRISITA">AFRISITA</option>
                <option value=AGALMATOLITO"">AGALMATOLITO</option>
                <option value="ÁGATA">ÁGATA</option>
                <option value="ÁGUA GASOSA">ÁGUA GASOSA</option>
                <option value="ÁGUA MARINHA">ÁGUA MARINHA</option>
                <option value="ÁGUA MINERAL">ÁGUA MINERAL</option>
                <option value="ÁGUA MINERAL ALC. BIC">ÁGUA MINERAL ALC. BIC</option>
                <option value="ÁGUA MINERAL ALC. TER">ÁGUA MINERAL ALC. TER</option>
                <option value="ÁGUA MINERAL TER. CALCI.">ÁGUA MINERAL TER. CALCI.</option>
                <option value="ÁGUA MINERAL TER. MAGNE">ÁGUA MINERAL TER. MAGNE</option>
                <option value="ÁGUA MINERAL CARBOHAS">ÁGUA MINERAL CARBOHAS</option>
                <option value="ÁGUA MINERAL CLORETAD">ÁGUA MINERAL CLORETAD</option>
                <option value="ÁGUA MINERAL FERRUGIN">ÁGUA MINERAL FERRUGIN</option>
                <option value="ÁGUA MINERAL LITINADA">ÁGUA MINERAL LITINADA</option>
                <option value="ÁGUA MINERAL NITRATAD">ÁGUA MINERAL NITRATAD</option>
                <option value="ÁGUA MINERAL RAD. FON">ÁGUA MINERAL RAD. FON</option>
                <option value="ÁGUA MINERAL RADIFERA">ÁGUA MINERAL RADIFERA</option>
                <option value="ÁGUA MINERAL SULFATAD">ÁGUA MINERAL SULFATAD</option>
                <option value="ÁGUA MINERAL SULFUROS">ÁGUA MINERAL SULFUROS</option>
                <option value="ÁGUA MINERAL TORIO-AT">ÁGUA MINERAL TORIO-AT</option>
                <option value="ÁGUA POTÁVEL DE MESA">ÁGUA POTÁVEL DE MESA</option>
                <option value="ÁGUA TERMO MINERAL">ÁGUA TERMO MINERAL</option>
                <option value="ÁGUAS OLIGOMINERAIS">ÁGUAS OLIGOMINERAIS</option>
                <option value="ÁGUAS TERMAIS">ÁGUAS TERMAIS</option>
                <option value="ALASKITO">ALASKITO</option>
                <option value="ALCALI MONZONITO">ALCALI MONZONITO</option>
                <option value="ALEXANDRITA">ALEXANDRITA</option>
                <option value="ALGAS CALCÁREAS">ALGAS CALCÁREAS</option>
                <option value="ALLANITA">ALLANITA</option>
                <option value="ALMANDINA">ALMANDINA</option>
                <option value="ALUMÍNIO">ALUMÍNIO</option>
                <option value="ALUVIÃO AURÍFERO">ALUVIÃO AURÍFERO</option>
                <option value="ALUVIÃO DIAMANTÍFERO">ALUVIÃO DIAMANTÍFERO</option>
                <option value="ALUVIÃO ESTANÍFERO">ALUVIÃO ESTANÍFERO</option>
                <option value="AMALGAM">AMALGAM</option>
                <option value="AMAZONITA">AMAZONITA</option>
                <option value="ÂMBAR">ÂMBAR</option>
                <option value="AMBLIGONITA">AMBLIGONITA</option>
                <option value="AMETISTA">AMETISTA</option>
                <option value="AMIANTO">AMIANTO</option>         
                <option value="ANATÁSIO">ANATÁSIO</option>
                <option value="ANDALUZITA">ANDALUZITA</option>
                <option value="ANDALUZITA INDUSTRIAL">ANDALUZITA INDUSTRIAL</option>
                <option value="ANDESITO">ANDESITO</option>
                <option value="ANDRADITA">ANDRADITA</option>
                <option value="ANFIBÓLIO">ANFIBÓLIO</option>
                <option value="ANFIBOLITO">ANFIBOLITO</option>
                <option value="ANGLESITA">ANGLESITA</option>
                <option value="ANIDRITA">ANIDRITA</option>
                <option value="ANORTOSITO">ANORTOSITO</option>
                <option value="ANTIMÔNIO">ANTIMÔNIO</option>
                <option value="ANTIMÔNIO NATIVO">ANTIMÔNIO NATIVO</option>
                <option value="ANTLERITA">ANTLERITA</option>
                <option value="ANTOFILITA">ANTOFILITA</option>
                <option value="ANTRACITO">ANTRACITO</option>
                <option value="APATITA">APATITA</option>
                <option value="APLITO">APLITO</option>
                <option value="ARCÓSIO">ARCÓSIO</option>
                <option value="ARDÓSIA">ARDÓSIA</option>
                <option value="AREIA">AREIA</option>
                <option value="AREIA ALUVIONAR">AREIA ALUVIONAR</option>
                <option value="AREIA COMUM">AREIA COMUM</option>
                <option value="AREIA DE BARRANCO">AREIA DE BARRANCO</option>
                <option value="AREIA DE FUNDIÇÃO">AREIA DE FUNDIÇÃO</option>
                <option value="AREIA FINA">AREIA FINA</option>
                <option value="AREIA FLUVIAL">AREIA FLUVIAL</option>
                <option value="AREIA IN NATURA">AREIA IN NATURA</option>
                <option value="AREIA INDUSTRIAL">AREIA INDUSTRIAL</option>
                <option value="AREIA LAVADA">AREIA LAVADA</option>
                <option value="AREIA MONAZÍTICA">AREIA MONAZÍTICA</option>
                <option value="AREIA P/ FILTROS">AREIA P/ FILTROS</option>
                <option value="AREIA P/ JATEAMENTO">AREIA P/ JATEAMENTO</option>
                <option value="AREIA P/ PERFURAÇÃO">AREIA P/ PERFURAÇÃO</option>
                <option value="AREIA P/ VIDRO">AREIA P/ VIDRO</option>
                <option value="AREIA QUARTZOSA">AREIA QUARTZOSA</option>
                <option value="AREIA SILICOSA">AREIA SILICOSA</option>
                <option value="ARENITO">ARENITO</option>
                <option value="ARENITO BETUMINOSO">ARENITO BETUMINOSO</option>
                <option value="ARENITO INDUSTRIAL">ARENITO INDUSTRIAL</option>
                <option value="ARENITO PIROBETUMINOS">ARENITO PIROBETUMINOS</option>
                <option value="ARGENTITA">ARGENTITA</option>
                <option value="ARGILA">ARGILA</option>
                <option value="ARGILA ALUMINOSA">ARGILA ALUMINOSA</option>
                <option value="ARGILA BAUXTICA">ARGILA BAUXTICA</option>
                <option value="ARGILA BENTONÍTICA">ARGILA BENTONÍTICA</option>
                <option value="ARGILA BRANCA">ARGILA BRANCA</option>
                <option value="ARGILA CAULÍNICA">ARGILA CAULÍNICA</option>
                <option value="ARGILA COMUM">ARGILA COMUM</option>
                <option value="ARGILA FERRUGINOSA">ARGILA FERRUGINOSA</option>
                <option value="ARGILA LEUCÍTICA">ARGILA LEUCÍTICA</option>
                <option value="ARGILA P/CER. VERMELH">ARGILA P/CER. VERMELH</option>
                <option value="ARGILA REFRATÁRIA">ARGILA REFRATÁRIA</option>
                <option value="ARGILA VERMELHA">ARGILA VERMELHA</option>
                <option value="ARGILITO">ARGILITO</option>
                <option value="ARGIRODITA">ARGIRODITA</option>
                <option value="ARSÊNIO">ARSÊNIO</option>
                <option value="ARSÊNIO SULFETOS">ARSÊNIO SULFETOS</option>
                <option value="ARSENOPIRITA">ARSENOPIRITA</option>
                <option value="ASBESTOS">ASBESTOS</option>
                <option value="ASBOLANO">ASBOLANO</option>
                <option value="ASBOLANO NIQUELFÍRERO">ASBOLANO NIQUELFÍRERO</option>
                <option value="ASFALTITO">ASFALTITO</option>
                <option value="ATAPULGITA">ATAPULGITA</option>
                <option value="AUGEN GNAISSE">AUGEN GNAISSE</option>
                <option value="AUTUNITA">AUTUNITA</option>
                <option value="AVICENITA">AVICENITA</option>
                <option value="AVOGADRITA">AVOGADRITA</option>
                <option value="AZURITA">AZURITA</option>
                <option value="BADDELEÍTA">BADDELEÍTA</option>
                <option value="BÁRIO">BÁRIO</option>
                <option value="BARITA">BARITA</option>
                <option value="BARITINA">BARITINA</option>
                <option value="BASALTO">BASALTO</option>
                <option value="BASALTO P/ BRITA">BASALTO P/ BRITA</option>
                <option value="BASALTO P/ REVESTIMENTO">BASALTO P/ REVESTIMENTO</option>
                <option value="BASTINAESITA">BASTINAESITA</option>
                <option value="BAUXITA">BAUXITA</option>
                <option value="BAUXITA FOSFOROSA">BAUXITA FOSFOROSA</option>
                <option value="BENTONITA">BENTONITA</option>
                <option value="BERÍLIO">BERÍLIO</option>
                <option value="BERILO">BERILO</option>
                <option value="BERILO VERDE">BERILO VERDE</option>
                <option value="BERILO VERMELHO">BERILO VERMELHO</option>
                <option value="BETUME">BETUME</option>
                <option value="BINDHEIMITA">BINDHEIMITA</option>
                <option value="BIOTITA">BIOTITA</option>
                <option value="BIOTITA GRANITO">BIOTITA GRANITO</option>
                <option value="BIOTITA GRANODIORITO">BIOTITA GRANODIORITO</option>
                <option value="BISMITA">BISMITA</option>
                <option value="BISMUTINITA">BISMUTINITA</option>
                <option value="BISMUTITA">BISMUTITA</option>
                <option value="BISMUTO">BISMUTO</option>
                <option value="BLENDA">BLENDA</option>
                <option value="BOEHMITA">BOEHMITA</option>
                <option value="BORATOS">BORATOS</option>
                <option value="BÓRAZ (TINCAL)">BÓRAZ (TINCAL)</option>
                <option value="BORNITA">BORNITA</option>
                <option value="BOULANGERITA">BOULANGERITA</option>
                <option value="BOURNONITA">BOURNONITA</option>
                <option value="BRASILIANITA">BRASILIANITA</option>
                <option value="BRAVOÍTA">BRAVOÍTA</option>
                <option value="BRECHA">BRECHA</option>
                <option value="BRITA DE GRANITO">BRITA DE GRANITO</option>
                <option value="BROMO">BROMO</option>
                <option value="BROOKITA">BROOKITA</option>
                <option value="BRUCITA">BRUCITA</option>
                <option value="CÁDMIO">CÁDMIO</option>
                <option value="CALAMINA">CALAMINA</option>
                <option value="CALAVERITA">CALAVERITA</option>
                <option value="CALCÁRIO">CALCÁRIO</option>
                <option value="CALCÁRIO BETUMINOSO">CALCÁRIO BETUMINOSO</option>
                <option value="CALCÁRIO CALCÍTICO">CALCÁRIO CALCÍTICO</option>
                <option value="CALCÁRIO CONCHÍFERO">CALCÁRIO CONCHÍFERO</option>
                <option value="CALCÁRIO CORALÍNEO">CALCÁRIO CORALÍNEO</option>
                <option value="CALCÁRIO DOLOMITICO">CALCÁRIO DOLOMITICO</option>
                <option value="CALCÁRIO FOSFOROSO">CALCÁRIO FOSFOROSO</option>
                <option value="CALCÁRIO INDUSTRIAL">CALCÁRIO INDUSTRIAL</option>
                <option value="CALCÁRIO MAGNESIANO">CALCÁRIO MAGNESIANO</option>
                <option value="CALCÁRIO P/ BRITA">CALCÁRIO P/ BRITA</option>
                <option value="CALCÁRIO PIROBETUMINOSO>CALCÁRIO PIROBETUMINOSO"</option>
                <option value="CALCÁRIO SEDIMENTAR">CALCÁRIO SEDIMENTAR</option>
                <option value="CALCÁRIO SILICOSO">CALCÁRIO SILICOSO</option>
                <option value="CALCEDÔNIA">CALCEDÔNIA</option>
                <option value="CALCITA">CALCITA</option>
                <option value="CALCITA ÓTICA">CALCITA ÓTICA</option>
                <option value="CALCOCITA">CALCOCITA</option>
                <option value="CALCOPIRITA">CALCOPIRITA</option>
                <option value="CALDASITO">CALDASITO</option>
                <option value="CALICHE">CALICHE</option>
                <option value="CANGA">CANGA</option>
                <option value="CARBONADO">CARBONADO</option>
                <option value="CARBONATITO">CARBONATITO</option>
                <option value="CARBONATO">CARBONATO</option>
                <option value="CARBONATOS DE CHUMBO">CARBONATOS DE CHUMBO</option>
                <option value="CARBONATOS DE COBRE">CARBONATOS DE COBRE</option>
                <option value="CARBONATOS DE MANGANÊS">CARBONATOS DE MANGANÊS</option>
                <option value="CARBONATOS DE ZINCO">CARBONATOS DE ZINCO</option>
                <option value="CARNALITA">CARNALITA</option>
                <option value="CARNOTITA">CARNOTITA</option>
                <option value="CARVÃO">CARVÃO</option>
                <option value="CARVÃO ANTRACITOSO">CARVÃO ANTRACITOSO</option>
                <option value="CARVÃO BETUMINOSO">CARVÃO BETUMINOSO</option>
                <option value="CARVÃO MINERAL">CARVÃO MINERAL</option>
                <option value="CARVÃO SUB-BETUMINOSO">CARVÃO SUB-BETUMINOSO</option>
                <option value="CASCALHO">CASCALHO</option>
                <option value="CASCALHO AURÍFERO">CASCALHO AURÍFERO</option>
                <option value="CASCALHO DIAMANTÍFERO">CASCALHO DIAMANTÍFERO</option>
                <option value="CASCALHO ESTANÍFERO">CASCALHO ESTANÍFERO</option>
                <option value="CASCALHO SILICOSO">CASCALHO SILICOSO</option>
                <option value="CASSITERITA">CASSITERITA</option>
                <option value="CATACLASITO">CATACLASITO</option>
                <option value="CAULIM">CAULIM</option>
                <option value="CAULIM ARGILOSO">CAULIM ARGILOSO</option>
                <option value="CAULINITA">CAULINITA</option>
                <option value="CELESTITA">CELESTITA</option>
                <option value="CERARGIRITA">CERARGIRITA</option>
                <option value="CÉRIO">CÉRIO</option>
                <option value="CERITA">CERITA</option>
                <option value="CERRUSITA">CERRUSITA</option>
                <option value="CERVANTITA">CERVANTITA</option>
                <option value="CÉSIO">CÉSIO</option>
                <option value="CHAPINHA">CHAPINHA</option>
                <option value="CHARNOQUITO">CHARNOQUITO</option>
                <option value="CHERT">CHERT</option>
                <option value="CHILLAGITA">CHILLAGITA</option>
                <option value="CHUMBO">CHUMBO</option>
                <option value="CIANITA">CIANITA</option>
                <option value="CINÁBRIO">CINÁBRIO</option>
                <option value="CITRINO">CITRINO</option>
                <option value="CITRINO RIO GRANDE">CITRINO RIO GRANDE</option>
                <option value="COBALTITA">COBALTITA</option>
                <option value="COBALTO">COBALTO</option>
                <option value="COBALTO PIRITA">COBALTO PIRITA</option>
                <option value="COBRE">COBRE</option>
                <option value="COBRE NATIVO">COBRE NATIVO</option>
                <option value="COLEMANITA">COLEMANITA</option>
                <option value="COLOFANITA">COLOFANITA</option>
                <option value="COLOFANO">COLOFANO</option>
                <option value="COLUMBITA">COLUMBITA</option>
                <option value="CONCHAS CALCÁRIAS">CONCHAS CALCÁRIAS</option>
                <option value="CONCHAS CALCÍTICAS">CONCHAS CALCÍTICAS</option>
                <option value="CONCHEIRO NATURAL">CONCHEIRO NATURAL</option>
                <option value="CONGLOMERADO">CONGLOMERADO</option>
                <option value="CONGLOMERADO DIAMANTÍ">CONGLOMERADO DIAMANTÍ</option>
                <option value="CONGLOMERADO DIAMENTÍFERO">CONGLOMERADO DIAMENTÍFERO</option>
                <option value="COOPERITA">COOPERITA</option>
                <option value="COQUINA">COQUINA</option>
                <option value="CORAL">CORAL</option>
                <option value="CORDIERITA">CORDIERITA</option>
                <option value="CORÍNDON">CORÍNDON</option>
                <option value="COVELITA">COVELITA</option>
                <option value="CRIOLITA">CRIOLITA</option>
                <option value="CRIPTOMELAND">CRIPTOMELAND</option>
                <option value="CRISOBERILO">CRISOBERILO</option>
                <option value="CRISOCOLA">CRISOCOLA</option>
                <option value="CRISOTILA">CRISOTILA</option>
                <option value="CRISOPRÁSIO">CRISOPRÁSIO</option>
                <option value="CRISOTILA">CRISOTILA</option>
                <option value="CRISTAL DE ROCHA">CRISTAL DE ROCHA</option>
                <option value="CROCOÍTA">CROCOÍTA</option>
                <option value="CROMITA">CROMITA</option>
                <option value="CROMITA GRAU METALURG">CROMITA GRAU METALURG</option>
                <option value="CROMITA GRAU QUÍMICO">CROMITA GRAU QUÍMICO</option>
                <option value="CROMITA METALURGIA">CROMITA METALURGIA</option>
                <option value="CROMITA REFRATÁRIA">CROMITA REFRATÁRIA</option>
                <option value="CROMITITO">CROMITITO</option>
                <option value="CROMO">CROMO</option>
                <option value="CUBANITA">CUBANITA</option>
                <option value="CUPRITA">CUPRITA</option>
                <option value="DACITO">DACITO</option>
                <option value="DECLOISITA">DECLOISITA</option>
                <option value="DIABÁSIO">DIABÁSIO</option>
                <option value="DIABÁSIO P/ BRITA">DIABÁSIO P/ BRITA</option>
                <option value="DIABÁSIO P/ REVESTIMENTO">DIABÁSIO P/ REVESTIMENTO</option>
                <option value="DIADISITO">DIADISITO</option>
                <option value="DIAMANTE">DIAMANTE</option>
                <option value="DIAMANTE INDUSTRIAL">DIAMANTE INDUSTRIAL</option>
                <option value="DIÁSPORO">DIÁSPORO</option>
                <option value="DIATEXITO">DIATEXITO</option>
                <option value="DIATOMITA">DIATOMITA</option>
                <option value="DIATOMITO">DIATOMITO</option>
                <option value="DIOPSÍDIO">DIOPSÍDIO</option>
                <option value="DIORITO">DIORITO</option>
                <option value="DIORITO INDUSTRIAL">DIORITO INDUSTRIAL</option>
                <option value="DIORITO ORNAMENTAL">DIORITO ORNAMENTAL</option>
                <option value="DIORITO P/ BRITA">DIORITO P/ BRITA</option>
                <option value="DIORITO P/ REVESTIMENTO">DIORITO P/ REVESTIMENTO</option>
                <option value="DISPRÓSIO">DISPRÓSIO</option>
                <option value="DISTÊNIO">DISTÊNIO</option>
                <option value="DJALMAÍTA">DJALMAÍTA</option>
                <option value="DOLOMITO">DOLOMITO</option>
                <option value="DUMORTIERITA">DUMORTIERITA</option>
                <option value="DUNITO">DUNITO</option>
                <option value="DUNITO CROMÍFERO">DUNITO CROMÍFERO</option>
                <option value="DUNITO NIQUELÍFERO">DUNITO NIQUELÍFERO</option>
                <option value="EMBRECHITO">EMBRECHITO</option>
                <option value="ENARGITA">ENARGITA</option>
                <option value="ENDERDITO">ENDERDITO</option>
                <option value="ENXOFRE">ENXOFRE</option>
                <option value="ENXOFRE NATIVO">ENXOFRE NATIVO</option>
                <option value="EPIBOLITO">EPIBOLITO</option>
                <option value="ÉRBIO">ÉRBIO</option>
                <option value="ERITRINA">ERITRINA</option>
                <option value="ESCÂNDIO">ESCÂNDIO</option>
                <option value="ESCORODITA">ESCORODITA</option>
                <option value="ESFALERITA">ESFALERITA</option>
                <option value="ESFENO">ESFENO</option>
                <option value="ESMALTITA">ESMALTITA</option>
                <option value="ESMECTITA">ESMECTITA</option>
                <option value="ESMERALDA">ESMERALDA</option>
                <option value="ESPECULARITA">ESPECULARITA</option>
                <option value="ESPESSARTITA">ESPESSARTITA</option>
                <option value="ESPINÉLIO CROMÍFERO">ESPINÉLIO CROMÍFERO</option>
                <option value="ESPODUMÊNIO">ESPODUMÊNIO</option>
                <option value="ESTANHO">ESTANHO</option>
                <option value="ESTANITA">ESTANITA</option>
                <option value="ESTAUROLITA">ESTAUROLITA</option>
                <option value="ESTEATITO">ESTEATITO</option>
                <option value="ESTIBICONITA">ESTIBICONITA</option>
                <option value="ESTIBINITA">ESTIBINITA</option>
                <option value="ESTRONCIANITA">ESTRONCIANITA</option>
                <option value="ESTRÔNCIO">ESTRÔNCIO</option>
                <option value="EUCLÁSIO">EUCLÁSIO</option>
                <option value="EUDIALITA">EUDIALITA</option>
                <option value="EURÓPIO">EURÓPIO</option>
                <option value="EUXENITA">EUXENITA</option>
                <option value="EVAPORITO">EVAPORITO</option>
                <option value="FELDSPATO">FELDSPATO</option>
                <option value="FENACITA">FENACITA</option>
                <option value="FERBERITA">FERBERITA</option>
                <option value="FERRIMOLIBDENITA">FERRIMOLIBDENITA</option>
                <option value="FERRO">FERRO</option>
                <option value="FERRO MANGANÊS">FERRO MANGANÊS</option>
                <option value="FERRO-SILICIO-MANGANÊS">FERRO-SILICIO-MANGANÊS</option>
                <option value="FERTILIZANTE FOSFATADO">FERTILIZANTE FOSFATADO</option>
                <option value="FILITO">FILITO</option>
                <option value="FLOGOPITA">FLOGOPITA</option>
                <option value="FLÚOR">FLÚOR</option>
                <option value="FLÚOR-APATITA">FLÚOR-APATITA</option>
                <option value="FLUORITA">FLUORITA</option>
                <option value="FLUORITA GRAU ÁCIDO">FLUORITA GRAU ÁCIDO</option>
                <option value="FLUORITA GRAU CERÂMICO">FLUORITA GRAU CERÂMICO</option>
                <option value="FLUORITA GRAU METALÚR">FLUORITA GRAU METALÚR</option>
                <option value="FLUORITA GRAU QUÍMICO">FLUORITA GRAU QUÍMICO</option>
                <option value="FOIAÍTO">FOIAÍTO</option>
                <option value="FOLHELHO">FOLHELHO</option>
                <option value="FOLHELHO ARDOSIANO">FOLHELHO ARDOSIANO</option>
                <option value="FOLHELHO ARGILOSO">FOLHELHO ARGILOSO</option>
                <option value="FOLHELHO BETUMINOSO">FOLHELHO BETUMINOSO</option>
                <option value="FOLHELHO OLEÍGENO">FOLHELHO OLEÍGENO</option>
                <option value="FOLHELHO PIROBETUMINO">FOLHELHO PIROBETUMINO</option>
                <option value="FONÓLITO">FONÓLITO</option>
                <option value="FOSFATO">FOSFATO</option>
                <option value="FOSFORITA (O)">FOSFORITA (O)</option>
                <option value="FRANCKEÍTA">FRANCKEÍTA</option>
                <option value="FRANCKLINITA">FRANCKLINITA</option>
                <option value="FUCHSITA">FUCHSITA</option>
                <option value="GABRO">GABRO</option>
                <option value="GADOLÍNIO">GADOLÍNIO</option>
                <option value="GADOLINITA">GADOLINITA</option>
                <option value="GALENA">GALENA</option>
                <option value="GÁLIO">GÁLIO</option>
                <option value="GARNIERITA">GARNIERITA</option>
                <option value="GEMA">GEMA</option>
                <option value="GERMÂNIO">GERMÂNIO</option>
                <option value="GERMANITA">GERMANITA</option>
                <option value="GESSO">GESSO</option>
                <option value="GIBSITA">GIBSITA</option>
                <option value="GIPSITA">GIPSITA</option>
                <option value="GIPSO">GIPSO</option>
                <option value="GLAUCODOTO">GLAUCODOTO</option>
                <option value="GLAUCOFÂNIO">GLAUCOFÂNIO</option>
                <option value="GNAISSE">GNAISSE</option>
                <option value="GNAISSE FACOIDAL">GNAISSE FACOIDAL</option>
                <option value="GNAISSE GRANÍTICO">GNAISSE GRANÍTICO</option>
                <option value="GNAISSE INDUSTRIAL">GNAISSE INDUSTRIAL</option>
                <option value="GNAISSE ORNAMENTAL">GNAISSE ORNAMENTAL</option>
                <option value="GNAISSE P/ BRITA">GNAISSE P/ BRITA</option>
                <option value="GNAISSE P/ REVESTIMENTO">GNAISSE P/ REVESTIMENTO</option>
                <option value="GNAISSE SIENÍTICO">GNAISSE SIENÍTICO</option>
                <option value="GOETHITA">GOETHITA</option>
                <option value="GOYAZITA">GOYAZITA</option>
                <option value="GRAFITA">GRAFITA</option>
                <option value="GRANADA">GRANADA</option>
                <option value="GRANADA ALUVIONAR">GRANADA ALUVIONAR</option>
                <option value="GRANADA INDUSTRIAL">GRANADA INDUSTRIAL</option>
                <option value="GRANITO">GRANITO</option>
                <option value="GRANITO AMARELO">GRANITO AMARELO</option>
                <option value="GRANITO GNAÍSSICO">GRANITO GNAÍSSICO</option>
                <option value="GRANITO ORNAMENTAL">GRANITO ORNAMENTAL</option>
                <option value="GRANITO P/ BRITA">GRANITO P/ BRITA</option>
                <option value="GRANITO P/ REVESTIMENTO">GRANITO P/ REVESTIMENTO</option>
                <option value="GRANITO VERDE UBATUBA">GRANITO VERDE UBATUBA</option>
                <option value="GRANODIORITO">GRANODIORITO</option>
                <option value="GRANODIORITO INDUSTRIAL">GRANODIORITO INDUSTRIAL</option>
                <option value="GRANODIORITO P/ BRITA">GRANODIORITO P/ BRITA</option>
                <option value="GRANODIORITO P/ REVESTIMENTO">GRANODIORITO P/ REVESTIMENTO</option>
                <option value="GRANULITO">GRANULITO</option>
                <option value="GREENOCKITA">GREENOCKITA</option>
                <option value="GROSSULÁRIA">GROSSULÁRIA</option>
                <option value="GUANO">GUANO</option>
                <option value="HÁFNIO">HÁFNIO</option>
                <option value="HALITA">HALITA</option>
                <option value="HALLOYSITA">HALLOYSITA</option>
                <option value="HALOTRIQUITA">HALOTRIQUITA</option>
                <option value="HAUSMANNITA">HAUSMANNITA</option>
                <option value="HEBNERITA">HEBNERITA</option>
                <option value="HELIODORO">HELIODORO</option>
                <option value="HELVITA">HELVITA</option>
                <option value="HEMATITA">HEMATITA</option>
                <option value="HEMIMORFITA">HEMIMORFITA</option>
                <option value="HIODENITA">HIODENITA</option>
                <option value="HIDRARGILITA">HIDRARGILITA</option>
                <option value="HIDROZINCITA">HIDROZINCITA</option>
                <option value="HÓLMIO">HÓLMIO</option>
                <option value="HORNBLENDA DIORITO">HORNBLENDA DIORITO</option>
                <option value="HORNBLENDA GRANITO">HORNBLENDA GRANITO</option>
                <option value="IDAÍTA">IDAÍTA</option>
                <option value="ILMENITA">ILMENITA</option>
                <option value="ILMENITA MAGNESIANA">ILMENITA MAGNESIANA</option>
                <option value="ILMENO HEMATITA">ILMENO HEMATITA</option>
                <option value="ÍNDIO">ÍNDIO</option>
                <option value="IODO">IODO</option>
                <option value="IRÍDIO">IRÍDIO</option>
                <option value="ITABIRITO">ITABIRITO</option>
                <option value="ITÉRBIO">ITÉRBIO</option>
                <option value="ÍTRIO">ÍTRIO</option>
                <option value="ITROFLUORITA">ITROFLUORITA</option>
                <option value="JACUTINGA">JACUTINGA</option>
                <option value="JADE">JADE</option>
                <option value="JADEÍTA">JADEÍTA</option>
                <option value="JAMESONITA">JAMESONITA</option>
                <option value="JASPE">JASPE</option>
                <option value="KAINITA">KAINITA</option>
                <option value="KINZIGITO">KINZIGITO</option>
                <option value="KNOPITA">KNOPITA</option>
                <option value="KINZITA">KINZITA</option>
                <option value="LANTÂNIO">LANTÂNIO</option>
                <option value="LÁPIS LAZÚLI">LÁPIS LAZÚLI</option>
                <option value="LARDITO">LARDITO</option>
                <option value="LATERITA">LATERITA</option>
                <option value="LATERITA ALUMINOSA">LATERITA ALUMINOSA</option>
                <option value="LATERITA FERRUGINOSA">LATERITA FERRUGINOSA</option>
                <option value="LATERITA NIQUELÍFERA">LATERITA NIQUELÍFERA</option>
                <option value="LAVRITA">LAVRITA</option>
                <option value="LAZURITA">LAZURITA</option>
                <option value="LEPIDOLITA">LEPIDOLITA</option>
                <option value="LEUCITA">LEUCITA</option>
                <option value="LEUCOFILITO">LEUCOFILITO</option>
                <option value="LEOCOXÊNIO">LEOCOXÊNIO</option>
                <option value="LIMONITA">LIMONITA</option>
                <option value="LINHITO">LINHITO</option>
                <option value="LINHITO CARBONOSO">LINHITO CARBONOSO</option>
                <option value="LINNEÍTA">LINNEÍTA</option>
                <option value="LÍTIO">LÍTIO</option>
                <option value="LOLINGITA">LOLINGITA</option>
                <option value="LOPARITA">LOPARITA</option>
                <option value="LUTÉCIO">LUTÉCIO</option>
                <option value="MAGNÉSIO">MAGNÉSIO</option>
                <option value="MAGNESITA">MAGNESITA</option>
                <option value="MAGNETITA">MAGNETITA</option>
                <option value="MALACACHETA">MALACACHETA</option>
                <option value="MALAQUITA">MALAQUITA</option>
                <option value="MANGANÊS">MANGANÊS</option>
                <option value="MANGANITA">MANGANITA</option>
                <option value="MANGANOTANTALITA">MANGANOTANTALITA</option>
                <option value="MARUÍTO">MARUÍTO</option>
                <option value="MARGA">MARGA</option>
                <option value="MÁRMORE">MÁRMORE</option>
                <option value="MÁRMORE DOLOMITICO">MÁRMORE DOLOMITICO</option>
                <option value="MÁRMORE INDUSTRIAL">MÁRMORE INDUSTRIAL</option>
                <option value="MÁRMORE P/ REVESTIMENTO">MÁRMORE P/ REVESTIMENTO</option>
                <option value="MARITA">MARITA</option>
                <option value="MASSICOT">MASSICOT</option>
                <option value="MERCÚRIO">MERCÚRIO</option>
                <option value="MERCÚRIO NATIVO">MERCÚRIO NATIVO</option>
                <option value="METACONGLOMERADO">METACONGLOMERADO</option>
                <option value="MICA">MICA</option>
                <option value="MICAXISTO">MICAXISTO</option>
                <option value="MICROLITA">MICROLITA</option>
                <option value="MIGMATITO">MIGMATITO</option>
                <option value="MIGMATITO INDUSTRIAL">MIGMATITO INDUSTRIAL</option>
                <option value="MIGMATITO ORNAMENTAL">MIGMATITO ORNAMENTAL</option>
                <option value="MIGMATITO P/ BRITA">MIGMATITO P/ BRITA</option>
                <option value="MIGMATITO P/ REVESTIMENTO">MIGMATITO P/ REVESTIMENTO</option>
                <option value="MILLERITA">MILLERITA</option>
                <option value="MIMETITA">MIMETITA</option>
                <option value="MINÉRIO DE ALUMÍNIO">MINÉRIO DE ALUMÍNIO</option>
                <option value="MINÉRIO DE ANTIMÔNIO">MINÉRIO DE ANTIMÔNIO</option>
                <option value="MINÉRIO DE ARSÊNICO">MINÉRIO DE ARSÊNICO</option>
                <option value="MINÉRIO DE BERÍLIO">MINÉRIO DE BERÍLIO</option>
                <option value="MINÉRIO DE BISMUTO">MINÉRIO DE BISMUTO</option>
                <option value="MINÉRIO DE CÁDMIO">MINÉRIO DE CÁDMIO</option>
                <option value="MINÉRIO DE CÉRIO">MINÉRIO DE CÉRIO</option>
                <option value="MINÉRIO DE CÉSIO">MINÉRIO DE CÉSIO</option>
                <option value="MINÉRIO DE CHUMBO">MINÉRIO DE CHUMBO</option>
                <option value="MINÉRIO DE COBALTO">MINÉRIO DE COBALTO</option>
                <option value="MINÉRIO DE COBRE">MINÉRIO DE COBRE</option>
                <option value="MINÉRIO DE CROMO">MINÉRIO DE CROMO</option>
                <option value="MINÉRIO DE ESCÂNDIO">MINÉRIO DE ESCÂNDIO</option>
                <option value="MINÉRIO DE ESTANHO">MINÉRIO DE ESTANHO</option>
                <option value="MINÉRIO DE FERRO">MINÉRIO DE FERRO</option>
                <option value="MINÉRIO DE GÁLIO">MINÉRIO DE GÁLIO</option>
                <option value="MINÉRIO DE GERMÂNIO">MINÉRIO DE GERMÂNIO</option>
                <option value="MINÉRIO DE HÁFNIO">MINÉRIO DE HÁFNIO</option>
                <option value="MINÉRIO DE ÍNDIO">MINÉRIO DE ÍNDIO</option>
                <option value="MINÉRIO DE IRÍDIO">MINÉRIO DE IRÍDIO</option>
                <option value="MINÉRIO DE ÍTRIO">MINÉRIO DE ÍTRIO</option>
                <option value="MINÉRIO DE LÍTIO">MINÉRIO DE LÍTIO</option>
                <option value="MINÉRIO DE MAGNÉSIO">MINÉRIO DE MAGNÉSIO</option>
                <option value="MINÉRIO DE MANGANÊS">MINÉRIO DE MANGANÊS</option>
                <option value="MINÉRIO DE MERCÚRIO">MINÉRIO DE MERCÚRIO</option>
                <option value="MINÉRIO DE MOLIBDÊNIO">MINÉRIO DE MOLIBDÊNIO</option>
                <option value="MINÉRIO DE NIÓBIO">MINÉRIO DE NIÓBIO</option>
                <option value="MINÉRIO DE NÍQUEL">MINÉRIO DE NÍQUEL</option>
                <option value="MINÉRIO DE ÓSMIO">MINÉRIO DE ÓSMIO</option>
                <option value="MINÉRIO DE OURO">MINÉRIO DE OURO</option>
                <option value="MINÉRIO DE PALÁDIO">MINÉRIO DE PALÁDIO</option>
                <option value="MINÉRIO DE PLATINA">MINÉRIO DE PLATINA</option>
                <option value="MINÉRIO DE PRATA">MINÉRIO DE PRATA</option>
                <option value="MINÉRIO DE RÁDIO">MINÉRIO DE RÁDIO</option>
                <option value="MINÉRIO DE RÊNIO">MINÉRIO DE RÊNIO</option>
                <option value="MINÉRIO DE RÔDIO">MINÉRIO DE RÔDIO</option>
                <option value="MINÉRIO DE RUBÍDIO">MINÉRIO DE RUBÍDIO</option>
                <option value="MINÉRIO DE RUTÊNIO">MINÉRIO DE RUTÊNIO</option>
                <option value="MINÉRIO DE SELÊNIO">MINÉRIO DE SELÊNIO</option>
                <option value="MINÉRIO DE SILÍCIO">MINÉRIO DE SILÍCIO</option>
                <option value="MINÉRIO DE TÁLIO">MINÉRIO DE TÁLIO</option>
                <option value="MINÉRIO DE TÂNTALO">MINÉRIO DE TÂNTALO</option>
                <option value="MINÉRIO DE TELÚRIO">MINÉRIO DE TELÚRIO</option>
                <option value="MINÉRIO DE TITÂNIO">MINÉRIO DE TITÂNIO</option>
                <option value="MINÉRIO DE TÓRIO">MINÉRIO DE TÓRIO</option>
                <option value="MINÉRIO DE TUNGSTÊNIO">MINÉRIO DE TUNGSTÊNIO</option>
                <option value="MINÉRIO DE URÂNIO">MINÉRIO DE URÂNIO</option>
                <option value="MINÉRIO DE VANÁDIO">MINÉRIO DE VANÁDIO</option>
                <option value="MINÉRIO DE WOLFRÂMIO">MINÉRIO DE WOLFRÂMIO</option>
                <option value="MINÉRIO DE ZINCO">MINÉRIO DE ZINCO</option>
                <option value="MINÉRIO DE ZIRCÔNIO">MINÉRIO DE ZIRCÔNIO</option>
                <option value="MISPÍQUEL">MISPÍQUEL</option>
                <option value="MOLIBDÊNIO">MOLIBDÊNIO</option>
                <option value="MOLIBDENITA">MOLIBDENITA</option>
                <option value="MONAZITA">MONAZITA</option>
                <option value="MONTMORILONITA">MONTMORILONITA</option>
                <option value="MONZOGRANITO">MONZOGRANITO</option>
                <option value="MONZOGRANITO INDUSTRIAL">MONZOGRANITO INDUSTRIAL</option>
                <option value="MONZOGRANITO ORNAMENTAL">MONZOGRANITO ORNAMENTAL</option>
                <option value="MONZOGRANITO P/ BRITA">MONZOGRANITO P/ BRITA</option>
                <option value="MONZOGRANITO P/ REVESTIM">MONZOGRANITO P/ REVESTIM</option>
                <option value="MORGANITA">MORGANITA</option>
                <option value="MORION">MORION</option>
                <option value="MOSCOVITA">MOSCOVITA</option>
                <option value="MUSCOVITA">MUSCOVITA</option>
                <option value="Não Definido">Não Definido</option>
                <option value="NEFELINA">NEFELINA</option>
                <option value="NEFELINA FONÓLITO">NEFELINA FONÓLITO</option>
                <option value="NEFELINA SIENITO">NEFELINA SIENITO</option>
                <option value="NEODÍMIO">NEODÍMIO</option>
                <option value="NEWJANSKITA">NEWJANSKITA</option>
                <option value="NICOLITA">NICOLITA</option>
                <option value="NIÓBIO">NIÓBIO</option>
                <option value="NIOBITA">NIOBITA</option>
                <option value="NÍQUEL">NÍQUEL</option>
                <option value="NITRATO DE POTÁSSIO">NITRATO DE POTÁSSIO</option>
                <option value="NITRATO DE SÓDIO">NITRATO DE SÓDIO</option>
                <option value="NITRATOS">NITRATOS</option>
                <option value="NITRO">NITRO</option>
                <option value="NONTRONITA">NONTRONITA</option>
                <option value="NORITO">NORITO</option>
                <option value="OBSIDIANA">OBSIDIANA</option>
                <option value="OCRE">OCRE</option>
                <option value="OCRE DE FERRO">OCRE DE FERRO</option>
                <option value="OLHO DE GATO">OLHO DE GATO</option>
                <option value="OLIVINA">OLIVINA</option>
                <option value="ÔNIX">ÔNIX</option>
                <option value="ONOFRITA">ONOFRITA</option>
                <option value="OPALA">OPALA</option>
                <option value="ORTOCLÁSIO">ORTOCLÁSIO</option>
                <option value="ÓSMIOOSMIRÍDIO">ÓSMIOOSMIRÍDIO</option>
                <option value="OURO">OURO</option>
                <option value="OURO NATIVO">OURO NATIVO</option>
                <option value="OURO IGMENTO">OURO IGMENTO</option>
                <option value="ÓXIDO DE FERRO">ÓXIDO DE FERRO</option>
                <option value="ÓXIDOS DE CHUMBO">ÓXIDOS DE CHUMBO</option>
                <option value="ÓXIDOS DE COBRE">ÓXIDOS DE COBRE</option>
                <option value="ÓXIDOS DE MANGANÊS">ÓXIDOS DE MANGANÊS</option>
                <option value="ÓXIDOS DE ZINCO">ÓXIDOS DE ZINCO</option>
                <option value="PAGODITO">PAGODITO</option>
                <option value="PALÁDIO">PALÁDIO</option>
                <option value=" PALÁDIO NATIVO"> PALÁDIO NATIVO</option>
                <option value="PARASITA">PARASITA</option>
                <option value="PECHBLENDA">PECHBLENDA</option>
                <option value="PEDRA CALCÁRIA">PEDRA CALCÁRIA</option>
                <option value="PEDRA CORADA">PEDRA CORADA</option>
                <option value="PEDRA ORNAMENTAL">PEDRA ORNAMENTAL</option>
                <option value="PEDRA ORNAMENTAL (GEMA)">PEDRA ORNAMENTAL (GEMA)</option>
                <option value="PEDRA PRECIOSA">PEDRA PRECIOSA</option>
                <option value="PEDRA QUARTZITO">PEDRA QUARTZITO</option>
                <option value="PEDRA SABÃO">PEDRA SABÃO</option>
                <option value="PEDRA SÃO TOMÉ">PEDRA SÃO TOMÉ</option>
                <option value="PEDREGULHO">PEDREGULHO</option>
                <option value="PEGMATITO">PEGMATITO</option>
                <option value="PENTLANDITA">PENTLANDITA</option>
                <option value="PERIDOTITO">PERIDOTITO</option>
                <option value="PERÓDOTO">PERÓDOTO</option>
                <option value="PERISTERITA">PERISTERITA</option>
                <option value="PERLITA">PERLITA</option>
                <option value="PERLITO">PERLITO</option>
                <option value="PEROVSKITA">PEROVSKITA</option>
                <option value="PETALITA">PETALITA</option>
                <option value="PINGUITA">PINGUITA</option>
                <option value="PIRARGIRITA">PIRARGIRITA</option>
                <option value="PIRITA">PIRITA</option>
                <option value="PIRITA DE COBRE">PIRITA DE COBRE</option>
                <option value="PIRITA DE ESTANHO">PIRITA DE ESTANHO</option>
                <option value="PIROCLORO">PIROCLORO</option>
                <option value="PIROFILITA">PIROFILITA</option>
                <option value="PIROLUSITA">PIROLUSITA</option>
                <option value="PIROMORFITA">PIROMORFITA</option>
                <option value="PIROPO">PIROPO</option>
                <option value="PIROXÊNIO TONALITO">PIROXÊNIO TONALITO</option>
                <option value="PIROXENITO">PIROXENITO</option>
                <option value="PIRROTITA">PIRROTITA</option>
                <option value="PLATINA">PLATINA</option>
                <option value="PLATINA ALUVIONAR">PLATINA ALUVIONAR</option>
                <option value="PLATINA NATIVA">PLATINA NATIVA</option>
                <option value="PLATINIRÍDIO">PLATINIRÍDIO</option>
                <option value="PLATINÓIDES">PLATINÓIDES</option>
                <option value="POLIALITA">POLIALITA</option>
                <option value="POLIANITA">POLIANITA</option>
                <option value="POLICRASITA">POLICRASITA</option>
                <option value="POLIXÊNIO">POLIXÊNIO</option>
                <option value="POLUCITA">POLUCITA</option>
                <option value="POWELLITA">POWELLITA</option>
                <option value="PRASEODÍMIO">PRASEODÍMIO</option>
                <option value="PRATA">PRATA</option>
                <option value="PRATA NATIVA">PRATA NATIVA</option>
                <option value="PROMÉCIO">PROMÉCIO</option>
                <option value="PROUSTITA">PROUSTITA</option>
                <option value="PSILOMELANO">PSILOMELANO</option>
                <option value="QUARTZITO">QUARTZITO</option>
                <option value="QUARTZITO DUMORTIERITO">QUARTZITO DUMORTIERITO</option>
                <option value="QUARTZITO FRIÁVEL">QUARTZITO FRIÁVEL</option>
                <option value="QUARTZITO INDUSTRIAL">QUARTZITO INDUSTRIAL</option>
                <option value="QUARTZITO MICÁCEO">QUARTZITO MICÁCEO</option>
                <option value="QUARTZITO P/ REVESTIMENTO">QUARTZITO P/ REVESTIMENTO</option>
                <option value="QUARTZITO ROSA">QUARTZITO ROSA</option>
                <option value="QUARTZITO SERICITICO">QUARTZITO SERICITICO</option>
                <option value="QUARTZITO VERDE">QUARTZITO VERDE</option>
                <option value="QUARTZO">QUARTZO</option>
                <option value="QUARTZO BICOLOR">QUARTZO BICOLOR</option>
                <option value="QUARTZO COM INCLUSÕES">QUARTZO COM INCLUSÕES</option>
                <option value="QUARTZO FUME">QUARTZO FUME</option>
                <option value="QUARTZO FUNDENTE">QUARTZO FUNDENTE</option>
                <option value="QUARTZO HIALINO">QUARTZO HIALINO</option>
                <option value="QUARTZO INDUSTRIAL">QUARTZO INDUSTRIAL</option>
                <option value="QUARTZO LEITOSO">QUARTZO LEITOSO</option>
                <option value="QUARTZO MONZONITO">QUARTZO MONZONITO</option>
                <option value="QUARTZO MORION">QUARTZO MORION</option>
                <option value="QUARTZO RÓSEO">QUARTZO RÓSEO</option>
                <option value="QUARTZO VERDE">QUARTZO VERDE</option>
                <option value="RABDOFANITA">RABDOFANITA</option>
                <option value="RÁDIO">RÁDIO</option>
                <option value="RÊNIO">RÊNIO</option>
                <option value="RINLOLITA">RINLOLITA</option>
                <option value="RIÓLITO">RIÓLITO</option>
                <option value="ROCHA AURÍFERA">ROCHA AURÍFERA</option>
                <option value="ROCHA BETUMINOSA">ROCHA BETUMINOSA</option>
                <option value="ROCHA CALCÁRIA">ROCHA CALCÁRIA</option>
                <option value="ROCHA CARBONÁTICA">ROCHA CARBONÁTICA</option>
                <option value="ROCHA DIAMANTÍFERA">ROCHA DIAMANTÍFERA</option>
                <option value="ROCHA ESTANÍFERA">ROCHA ESTANÍFERA</option>
                <option value="ROCHA PIROBETUMINOSA">ROCHA PIROBETUMINOSA</option>
                <option value="ROCHA POTÁSSICA">ROCHA POTÁSSICA</option>
                <option value="RÓDIO">RÓDIO</option>
                <option value="RODOCROSITA">RODOCROSITA</option>
                <option value="RODONITA">RODONITA</option>
                <option value="ROQUESITA">ROQUESITA</option>
                <option value="ROSCOELITA">ROSCOELITA</option>
                <option value="RUBELITA">RUBELITA</option>
                <option value="RUBI">RUBI</option>
                <option value="RUBI ESPINÉLIO">RUBI ESPINÉLIO</option>
                <option value="RUBÍDIO">RUBÍDIO</option>
                <option value="RUTÊNIO">RUTÊNIO</option>
                <option value="RUTILO">RUTILO</option>
                <option value="SAFIRA">SAFIRA</option>
                <option value="SAFLORITA">SAFLORITA</option>
                <option value="SAIBREIRA">SAIBREIRA</option>
                <option value="SAIBRO">SAIBRO</option>
                <option value="SAIS DE BROMO">SAIS DE BROMO</option>
                <option value="SAIS DE IODO">SAIS DE IODO</option>
                <option value="SAIS DE MAGNÊSIO">SAIS DE MAGNÊSIO</option>
                <option value="SAIS DE POTÁSSIO">SAIS DE POTÁSSIO</option>
                <option value="SAIS DE SÓDIO">SAIS DE SÓDIO</option>
                <option value="SALGEMA">SALGEMA</option>
                <option value="SALITRE">SALITRE</option>
                <option value="SAMÁRIO">SAMÁRIO</option>
                <option value="SAPONITA">SAPONITA</option>
                <option value="SAPONITO">SAPONITO</option>
                <option value="SAPROPEL">SAPROPEL</option>
                <option value="SAPROPELITO">SAPROPELITO</option>
                <option value="SÁRDIO">SÁRDIO</option>
                <option value="SCHEELITA">SCHEELITA</option>
                <option value="SEIXOS">SEIXOS</option>
                <option value="SEIXOS ROLADOS">SEIXOS ROLADOS</option>
                <option value="SELÊNIO">SELÊNIO</option>
                <option value="SENEGALITA">SENEGALITA</option>
                <option value="SENGIERITA">SENGIERITA</option>
                <option value="SEPIOLITA">SEPIOLITA</option>
                <option value="SERICITA">SERICITA</option>
                <option value="SERPENTINITO">SERPENTINITO</option>
                <option value="SIBERITA">SIBERITA</option>
                <option value="SIDERITA">SIDERITA</option>
                <option value="SIEGENITA">SIEGENITA</option>
                <option value="SIENITO">SIENITO</option>
                <option value="SIENITO INDUSTRIAL">SIENITO INDUSTRIAL</option>
                <option value="SIENITO ORNAMENTAL">SIENITO ORNAMENTAL</option>
                <option value="SIENITO P/ BRITA">SIENITO P/ BRITA</option>
                <option value="SIENITO P/ REVESTIMENTO">SIENITO P/ REVESTIMENTO</option>
                <option value="SIENITO GRANITO">SIENITO GRANITO</option>
                <option value="SÍLEX">SÍLEX</option>
                <option value="SILEXITO">SILEXITO</option>
                <option value="SÍLICA">SÍLICA</option>
                <option value="SILICATOS DE COBRE">SILICATOS DE COBRE</option>
                <option value="SILICATOS DE MANGANÊS">SILICATOS DE MANGANÊS</option>
                <option value="SILICATOS DE NÍQUEL">SILICATOS DE NÍQUEL</option>
                <option value="SILICATOS DE ZINCO">SILICATOS DE ZINCO</option>
                <option value="SILÍCIO">SILÍCIO</option>
                <option value="SILLIMANITA">SILLIMANITA</option>
                <option value="SILTITO">SILTITO</option>
                <option value="SILVANITA">SILVANITA</option>
                <option value="SILVANITA (OURO)">SILVANITA (OURO)</option>
                <option value="SILVINITA">SILVINITA</option>
                <option value="SILVITA">SILVITA</option>
                <option value="SMITHSONITA">SMITHSONITA</option>
                <option value="SODALITA">SODALITA</option>
                <option value="SODALITA SIENITO">SODALITA SIENITO</option>
                <option value="SOHNGEÍTA">SOHNGEÍTA</option>
                <option value="SPERRYLITA">SPERRYLITA</option>
                <option value="STEPHANITA">STEPHANITA</option>
                <option value="SULFETOS DE CHUMBO">SULFETOS DE CHUMBO</option>
                <option value="SULFETOS DE COBRE">SULFETOS DE COBRE</option>
                <option value="SULFETOS DE NÍQUEL">SULFETOS DE NÍQUEL</option>
                <option value="SULFETOS DE ZINCO">SULFETOS DE ZINCO</option>
                <option value="SZAIBELLYITA">SZAIBELLYITA</option>
                <option value="TABATINGA">TABATINGA</option>
                <option value="TAGUÁ">TAGUÁ</option>
                <option value="TALCO">TALCO</option>
                <option value="TALCO XISTO">TALCO XISTO</option>
                <option value="TÁLIO">TÁLIO</option>
                <option value="TANTALITA">TANTALITA</option>
                <option value="TANTALITA-COLUMBITA">TANTALITA-COLUMBITA</option>
                <option value="TÂNTALO">TÂNTALO</option>
                <option value="TAPIOLITA">TAPIOLITA</option>
                <option value="TAUÁ">TAUÁ</option>
                <option value="TELÚRIO">TELÚRIO</option>
                <option value="TENNANTITA">TENNANTITA</option>
                <option value="TENORITA">TENORITA</option>
                <option value="TÉRBIO">TÉRBIO</option>
                <option value="TERRA DE SIENA">TERRA DE SIENA</option>
                <option value="TERRA FULLER">TERRA FULLER</option>
                <option value="TERRAS RARAS">TERRAS RARAS</option>
                <option value="TETRADIMITA">TETRADIMITA</option>
                <option value="THORTVEÍTA">THORTVEÍTA</option>
                <option value="TINCAL">TINCAL</option>
                <option value="TINGUAÍTO">TINGUAÍTO</option>
                <option value="TITÂNIOTITANITA">TITÂNIOTITANITA</option>
                <option value="TIFANO MAGNETITATONALITO">TIFANO MAGNETITATONALITO</option>
                <option value="TOPÁZIO">TOPÁZIO</option>
                <option value="TOPÁZIO IMPERIAL">TOPÁZIO IMPERIAL</option>
                <option value="TORIANITA">TORIANITA</option>
                <option value="TÓRIO">TÓRIO</option>
                <option value="TORITA">TORITA</option>
                <option value="TRAQUITO">TRAQUITO</option>
                <option value="TRAQUITO ALCALINO">TRAQUITO ALCALINO</option>
                <option value="TRAQUITO INDUSTRIAL">TRAQUITO INDUSTRIAL</option>
                <option value="TRAQUITO ORNAMENTAL">TRAQUITO ORNAMENTAL</option>
                <option value="TREMOLITA">TREMOLITA</option>
                <option value="TREMOLITITO">TREMOLITITO</option>
                <option value="TRIFILITA">TRIFILITA</option>
                <option value="TRIPOLI">TRIPOLI</option>
                <option value="TRONA">TRONA</option>
                <option value="TRONDJEMITO">TRONDJEMITO</option>
                <option value="TUFO">TUFO</option>
                <option value="TUFO VULCÂNICO">TUFO VULCÂNICO</option>
                <option value="TÚLIO">TÚLIO</option>
                <option value="TUNGSTÊNIO">TUNGSTÊNIO</option>
                <option value="TURFA">TURFA</option>
                <option value="TURFEIRA">TURFEIRA</option>
                <option value="TURMALINA">TURMALINA</option>
                <option value="TURMALINA AZUL">TURMALINA AZUL</option>
                <option value="TURMALINA ROSA">TURMALINA ROSA</option>
                <option value="TURMALINA VERDE">TURMALINA VERDE</option>
                <option value="TURQUESA">TURQUESA</option>
                <option value="ULEXÍTA">ULEXÍTA</option>
                <option value="URANINITA">URANINITA</option>
                <option value="URÂNIOURONOFANO">URÂNIOURONOFANO</option>
                <option value="URANOTALITA">URANOTALITA</option>
                <option value="URBAÍTA">URBAÍTA</option>
                <option value="UVAROVITA">UVAROVITA</option>
                <option value="VALENTINA">VALENTINA</option>
                <option value="VANADINITA">VANADINITA</option>
                <option value="VANÁDIO">VANÁDIO</option>
                <option value="VARISCITA">VARISCITA</option>
                <option value="VARVITO">VARVITO</option>
                <option value="VERMICULITA">VERMICULITA</option>
                <option value="VIOLARITA">VIOLARITA</option>
                <option value="VARVITOVERMICULITA">VARVITOVERMICULITA</option>
                <option value="WITHERITA">WITHERITA</option>
                <option value="WOLFRÂMIO">WOLFRÂMIO</option>
                <option value="WOLFRAMITA">WOLFRAMITA</option>
                <option value="WOLLASTONITA">WOLLASTONITA</option>
                <option value="WULFENITA">WULFENITA</option>
                <option value="XENOTIMA">XENOTIMA</option>
                <option value="XENOTÍMIO">XENOTÍMIO</option>
                <option value="XISTO">XISTO</option>
                <option value="XISTO ARGILOSO">XISTO ARGILOSO</option>
                <option value="XISTO BETUMINOSO">XISTO BETUMINOSO</option>
                <option value="XISTO PIROBETUMINOSO">XISTO PIROBETUMINOSO</option>
                <option value="XISTO TALCÍFERO">XISTO TALCÍFERO</option>
                <option value="ZINCITA">ZINCITA</option>
                <option value="ZINCO">ZINCO</option>
                <option value="ZIRCÂO">ZIRCÂO</option>
                <option value="ZIRCÔNIO">ZIRCÔNIO</option>
                <option value="ZIRCONITA">ZIRCONITA</option>
                </select>
            <label for="uso">Uso:</label>
            <select id="uso">
                <option value="--Selecione--">--Selecione--</option>
                <option value="ABRASIVO">ABRASIVO</option>
                <option value="ARTESANATO MINERAL">ARTESANATO MINERAL</option>
                <option value="BAINEOTERAPIA">BAINEOTERAPIA</option>
                <option value="BRITA">BRITA</option>
                <option value="CERÂMICA VERMELHA">CERÂMICA VERMELHA</option>
                <option value="CONSTRUÇÃO CIVIL">CONSTRUÇÃO CIVIL</option>
                <option value="CORRETIVO DE SOLO">CORRETIVO DE SOLO</option>
                <option value="ENERGÉTICO">ENERGÉTICO</option>
                <option value="ENGARRAFAMENTO">ENGARRAFAMENTO</option>
                <option value="FABRICAÇÃO DE CAL">FABRICAÇÃO DE CAL</option>
                <option value="FABRICAÇÃO DE CIMENTO">FABRICAÇÃO DE CIMENTO</option>
                <option value="FABRICAÇÃO DE LIGAS">FABRICAÇÃO DE LIGAS</option>
                <option value="FABRICAÇÃO DE VIDRO">FABRICAÇÃO DE VIDRO</option>
                <option value="FERTILIZANTES">FERTILIZANTES</option>
                <option value="GEMA">GEMA</option>
            </select>
            </div>
        <div id="button_submit">
            <button type="submit">Gravar</button>   <a href="/"><button type="button">Cancelar</button></a>
        <div class="button_next">
            <a href="/menu/cadastrooperacional"><button type="button">Próxima >></button></a>
        </div>
        </div>
    </form>
    {% for message in messages %}
        <strong>{{message}}</strong>
    {% endfor %}
</body>
</html>
