<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'cadastro-Tec-Lavra-style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Cadastro_TEC_Lavra</title>
</head>
<body>
<div id="main_container">
  <h1 class="barra-main">Lavra >> Responsável Técnico </h1>
<div class="sub-barra">
  <h2>Responsável Técnico pela Execução da Lavra</h2></div>

<div class="button-one">
  <label for="mina">Mina:</label>
  <select id="mina">
    <option value="select">--Selecione--</option></select>
</div>     

<div class="sub-barra2">
  <h2>Identificação do Responsável Técnico</h2></div>

<div class="button-two">
  <label for="CPF">CPF:</label>
  <input type="text" name="CPF" id="CPF">  <label for="name">Nome:</label>
  <input type="text" name="name" id="name">
  </div>

  <p class="title-ano-base">Período da Responsabilidade no Ano-Base:</p>
<div class="button-three">
  <label for="initial">Inicial:</label>
  <input type="text" name="initial" id="initial">  <label for="end">Final:</label>
  <input type="text" name="end" id="end">
</div>

<div class="button-four">
  <label for="CPF">Frequência de Assistência (in loco):</label>
  <select id="select">
    <option value="--Selecione--">--Selecione--</option>
  </select>
</div>

<div class="sub-barra3">
  <h2>CREA - Registro Profissional</h2></div>

<div class="buttons-CREA">
  <label for="profissão">Profissão:</label>
  <select id="Profissão" style="margin-right: 50px;">
    <option value="select">--Selecione--</option>
    <option value="Engenheiro de Minas">Engenheiro de Minas</option>
    <option value="Geólogo">Geólogo</option>
    <option value="Geólogo de Engenharia">Geólogo de Engenharia</option>
    <option value="Outros">Outros</option>
  </select>
  <label for="number1" >Número:</label>
  <input type="text" name="number" id="number1" style="margin-right: 50px;"> <label for="jurisdiction">Jurisdição:</label>
  <select id="jurisdiction"  style="margin-right: 110px;">
    <option value="select">--Selecione--</option>
    <option value="CREA-AC">CREA-AC</option>
    <option value="CREA-AL">CREA-AL</option>
    <option value="CREA-AM">CREA-AM</option>
    <option value="CREA-AP">CREA-AP</option>
    <option value="CREA-BA">CREA-BA</option>
    <option value="CREA-CE">CREA-CE</option>
    <option value="CREA-DF">CREA-DF</option>
    <option value="CREA-ES">CREA-ES</option>
    <option value="CREA-GO">CREA-GO</option>
    <option value="CREA-MA">CREA-MA</option>
    <option value="CREA-MG">CREA-MG</option>
    <option value="CREA-MS">CREA-MS</option>
    <option value="CREA-MT">CREA-MT</option>
    <option value="CREA-PA">CREA-PA</option>
    <option value="CREA-PB">CREA-PB</option>
    <option value="CREA-PE">CREA-PE</option>
    <option value="CREA-PI">CREA-PI</option>
    <option value="CREA-PR">CREA-PR</option>
    <option value="CREA-RJ">CREA-RJ</option>
    <option value="CREA-RN">CREA-RN</option>
    <option value="CREA-RO">CREA-RO</option>
    <option value="CREA-RR">CREA-RR</option>
    <option value="CREA-RS">CREA-RS</option>
    <option value="CREA-SC">CREA-SC</option>
    <option value="CREA-SE">CREA-SE</option>
    <option value="CREA-SP">CREA-SP</option>
    <option value="CREA-TO">CREA-TO</option>
  </select></div>
  
<div class="button-especification">
  <label for="text">Especifique a Profissão</label> <input type="text" name="text" id="text" style="margin-right: 30px;">
  <label for="text1">Especifique a CONFEA/CREA:</label> <input type="text" name="text" id="text1">
</div>

<div class="sub-barra4">
  <h2>ART de Execução de Lavra</h2>
</div>

<div class="buttons-ART">
  <label for="number2">Número:</label>
  <input type="text" name="number" id="number2" style="margin-right: 30px;">
  <label for="date">Data:</label>
  <input type="date" name="date" id="date" style="margin-right: 30px;">
  <label for="jurisdiction1">Jurisdição:</label>
  <select id="jurisdiction1">
    <option value="select">--Selecione--</option>
    <option value="CREA-AC">CREA-AC</option>
    <option value="CREA-AL">CREA-AL</option>
    <option value="CREA-AM">CREA-AM</option>
    <option value="CREA-AP">CREA-AP</option>
    <option value="CREA-BA">CREA-BA</option>
    <option value="CREA-CE">CREA-CE</option>
    <option value="CREA-DF">CREA-DF</option>
    <option value="CREA-ES">CREA-ES</option>
    <option value="CREA-GO">CREA-GO</option>
    <option value="CREA-MA">CREA-MA</option>
    <option value="CREA-MG">CREA-MG</option>
    <option value="CREA-MS">CREA-MS</option>
    <option value="CREA-MT">CREA-MT</option>
    <option value="CREA-PA">CREA-PA</option>
    <option value="CREA-PB">CREA-PB</option>
    <option value="CREA-PE">CREA-PE</option>
    <option value="CREA-PI">CREA-PI</option>
    <option value="CREA-PR">CREA-PR</option>
    <option value="CREA-RJ">CREA-RJ</option>
    <option value="CREA-RN">CREA-RN</option>
    <option value="CREA-RO">CREA-RO</option>
    <option value="CREA-RR">CREA-RR</option>
    <option value="CREA-RS">CREA-RS</option>
    <option value="CREA-SC">CREA-SC</option>
    <option value="CREA-SE">CREA-SE</option>
    <option value="CREA-SP">CREA-SP</option>
    <option value="CREA-TO">CREA-TO</option>
  </select></div>

<div class="sub-barra5">
  <h2>Endereço para Correspondência</h2>
</div>
<div class="button-five">
  <label for="address">Endereço:</label>
  <input type="text" name="address" id="address" style="margin-right: 20px;">  <label for="bairro">Bairro:</label>
  <input type="text" name="bairro" id="bairro" style="margin-right: 10px;">  <label for="UF" >UF:</label>
  <select id="UF" style="margin-right: 10px;">
  <option value="select">--Selecione--</option>
  	<option value="AC">Acre</option>
	<option value="AL">Alagoas</option>
	<option value="AP">Amapá</option>
	<option value="AM">Amazonas</option>
	<option value="BA">Bahia</option>
	<option value="CE">Ceará</option>
	<option value="DF">Distrito Federal</option>
	<option value="ES">Espírito Santo</option>
	<option value="GO">Goiás</option>
	<option value="MA">Maranhão</option>
	<option value="MT">Mato Grosso</option>
	<option value="MS">Mato Grosso do Sul</option>
	<option value="MG">Minas Gerais</option>
	<option value="PA">Pará</option>
	<option value="PB">Paraíba</option>
	<option value="PR">Paraná</option>
	<option value="PE">Pernambuco</option>
	<option value="PI">Piauí</option>
	<option value="RJ">Rio de Janeiro</option>
	<option value="RN">Rio Grande do Norte</option>
	<option value="RS">Rio Grande do Sul</option>
	<option value="RO">Rondônia</option>
	<option value="RR">Roraima</option>
	<option value="SC">Santa Catarina</option>
	<option value="SP">São Paulo</option>
	<option value="SE">Sergipe</option>
	<option value="TO">Tocantins</option></select>  <label for="municipio1">Município:</label>
    <select id="municipio1">
      <option value="select">--Selecione--</option></select>
</div>

<div class="button-seven">
  <label for="CEP">CEP:</label>
  <input type="text" name="CEP" id="CEP" style="margin-right: 30px;">  <label for="caixa-postal">Caixa Postal:</label>
  <input type="text" name="caixa-postal" id="caixa-postal">  <label for="CEP-caixa-postal">CEP (Caixa Postal):</label>
  <input type="text" name="CEP-caixa-postal" id="CEP-caixa-postal">
</div>

<div class="button-eight">
  <label for="home-page">Home Page:</label>
  <input type="text" name="home-page" id="home-page" style="margin-right: 30px; width: 350px;">  <label for="email">E-mail:</label>
  <input type="text" name="Email" id="email" style=" width: 350px;">
</div>

<div class="sub-barra6">
  <h2>Telefones (DDD e Número)</h2>
</div>
<div class="button-nine">
  <label for="types">Tipos:</label>
  <select id="types"  style="margin-right: 30px;">
    <option value="select">--Selecione--</option>
    <option value="Residencial">Residencial</option>
    <option value="Celular">Celular</option></select>   <label for="DDD">DDD:</label>
    <input type="text" name="DDD" id="DDD" style="margin-right: 30px; width: 30px;"> <label for="number">Número:</label>
    <input type="text" name="number" id="number" style="margin-right: 200px"> <button type="submit">Adicionar</button>
</div>
<p class="information_for_backend">Nenhum telefone Adicionado.</p>
</div>
</body>
</html>
