<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'cadastro-Tec-Lavra.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Cadastro_TEC_Lavra</title>
</head>
<body>
<div id="main_container">
  <h1 class="barra-main">Lavra >> Responsável Técnico </h1>
<div class="sub-barra">
  <h2>Responsável Técnico pela Execução da Lavra</h2></div>

<div class="button-one">
  <label for="Mina">Mina:</label>
  <select id="">
    <option value="">--Selecione--</option></select>
</div>     

<div class="sub-barra2">
  <h2>Identificação do Responsável Técnico</h2></div>

<div class="button-two">
  <label for="CPF">CPF:</label>
  <input type="text" name="CPF" id="CPF">  <label for="nome">Nome:</label>
  <input type="text" name="nome" id="name">
  </div>

  <p class="title-ano-base">Período da Responsabilidade no Ano-Base:</p>
<div class="button-three">
  <label for="initial">Inicial:</label>
  <input type="text" name="initial" id="initial">  <label for="end">Final:</label>
  <input type="text" name="end" id="end">
</div>

<div class="button-four">
  <label for="CPF">Frequência de Assistência (in loco):</label>
  <select id="select">
    <option value="--Selecione--">--Selecione--</option>
  </select>
</div>

<div class="sub-barra3">
  <h2>CREA - Registro Profissional</h2></div>

<div class="buttons-CREA">
  <label for="">Profissão:</label>
  <select id="Profissão" style="margin-right: 50px;">
    <option value="">--Selecione--</option>
    <option value="">Engenheiro de Minas</option>
    <option value="">Geólogo</option>
    <option value="">Geólogo de Engenharia</option>
    <option value="">Outros...</option>
  </select>
  <label for="" >Número:</label>
  <input type="text" name="Número" id="Número" style="margin-right: 50px;"> <label for="">Jurisdição:</label>
  <select id="jurisdiction"  style="margin-right: 110px;">
    <option value="">--Selecione--</option>
    <option value="">CREA-AC</option>
    <option value="">CREA-AL</option>
    <option value="">CREA-AM</option>
    <option value="">CREA-AP</option>
    <option value="">CREA-BA</option>
    <option value="">CREA-CE</option>
    <option value="">CREA-DF</option>
    <option value="">CREA-ES</option>
    <option value="">CREA-GO</option>
    <option value="">CREA-MA</option>
    <option value="">CREA-MG</option>
    <option value="">CREA-MS</option>
    <option value="">CREA-MT</option>
    <option value="">CREA-PA</option>
    <option value="">CREA-PB</option>
    <option value="">CREA-PE</option>
    <option value="">CREA-PI</option>
    <option value="">CREA-PR</option>
    <option value="">CREA-RJ</option>
    <option value="">CREA-RN</option>
    <option value="">CREA-RO</option>
    <option value="">CREA-RR</option>
    <option value="">CREA-RS</option>
    <option value="">CREA-SC</option>
    <option value="">CREA-SE</option>
    <option value="">CREA-SP</option>
    <option value="">CREA-TO</option>
  </select></div>
  
<div class="button-especification">
  <label for="">Especifique a Profissão</label> <input type="text" name="text" id="text" style="margin-right: 30px;">  
  <label for="">Especifique a CONFEA/CREA:</label> <input type="text" name="text" id="text">
</div>

<div class="sub-barra4">
  <h2>ART de Execução de Lavra</h2>
</div>

<div class="buttons-ART">
  <label for="">Número:</label>
  <input type="texto" name="Número" id="Número" style="margin-right: 30px;">
  <label for="">Data:</label>
  <input type="date" name="Data" id="Data" style="margin-right: 30px;">
  <label for="">Jurisdição:</label>
  <select id="Jurisdição">
    <option value="">--Selecione--</option>
    <option value="CREA-AC">CREA-AC</option>
    <option value="CREA-AL">CREA-AL</option>
    <option value="CREA-AM">CREA-AM</option>
    <option value="CREA-AP">CREA-AP</option>
    <option value="CREA-BA">CREA-BA</option>
    <option value="CREA-CE">CREA-CE</option>
    <option value="CREA-DF">CREA-DF</option>
    <option value="CREA-ES">CREA-ES</option>
    <option value="CREA-GO">CREA-GO</option>
    <option value="CREA-MA">CREA-MA</option>
    <option value="CREA-MG">CREA-MG</option>
    <option value="CREA-MS">CREA-MS</option>
    <option value="CREA-MT">CREA-MT</option>
    <option value="CREA-PA">CREA-PA</option>
    <option value="CREA-PB">CREA-PB</option>
    <option value="CREA-PE">CREA-PE</option>
    <option value="CREA-PI">CREA-PI</option>
    <option value="CREA-PR">CREA-PR</option>
    <option value="CREA-RJ">CREA-RJ</option>
    <option value="CREA-RN">CREA-RN</option>
    <option value="CREA-RO">CREA-RO</option>
    <option value="CREA-RR">CREA-RR</option>
    <option value="CREA-RS">CREA-RS</option>
    <option value="CREA-SC">CREA-SC</option>
    <option value="CREA-SE">CREA-SE</option>
    <option value="CREA-SP">CREA-SP</option>
    <option value="CREA-TO">CREA-TO</option>
  </select></div>

<div class="sub-barra5">
  <h2>Endereço para Correspondência</h2>
</div>
<div class="button-five">
  <label for="address">Endereço:</label>
  <input type="text" name="address" id="address" style="margin-right: 20px;">  <label for="Bairro">Bairro:</label>
  <input type="text" name="Bairro" id="bairro" style="margin-right: 10px;">  <label for="UF" >UF:</label>
  <select id="UF" style="margin-right: 10px;">
  <option value="">--Selecione--</option>
  	<option value="AC">Acre</option>
	<option value="AL">Alagoas</option>
	<option value="AP">Amapá</option>
	<option value="AM">Amazonas</option>
	<option value="BA">Bahia</option>
	<option value="CE">Ceará</option>
	<option value="DF">Distrito Federal</option>
	<option value="ES">Espírito Santo</option>
	<option value="GO">Goiás</option>
	<option value="MA">Maranhão</option>
	<option value="MT">Mato Grosso</option>
	<option value="MS">Mato Grosso do Sul</option>
	<option value="MG">Minas Gerais</option>
	<option value="PA">Pará</option>
	<option value="PB">Paraíba</option>
	<option value="PR">Paraná</option>
	<option value="PE">Pernambuco</option>
	<option value="PI">Piauí</option>
	<option value="RJ">Rio de Janeiro</option>
	<option value="RN">Rio Grande do Norte</option>
	<option value="RS">Rio Grande do Sul</option>
	<option value="RO">Rondônia</option>
	<option value="RR">Roraima</option>
	<option value="SC">Santa Catarina</option>
	<option value="SP">São Paulo</option>
	<option value="SE">Sergipe</option>
	<option value="TO">Tocantins</option></select>  <label for="Municipio">Município:</label>
    <select id="Município">
      <option value="">--Selecione--</option></select>
</div>

<div class="button-seven">
  <label for="CEP">CEP:</label>
  <input type="text" name="CEP" id="CEP" style="margin-right: 30px;">  <label for="Bairro">Caixa Postal:</label>
  <input type="text" name="Caixa-postal" id="Caixa-postal">  <label for="CEP (Caixa Postal)">CEP (Caixa Postal):</label>
  <input type="text" name="CEP (Caixa Postal)" id="CEP (Caixa Postal)">
</div>

<div class="button-eight">
  <label for="home-page">Home Page:</label>
  <input type="text" name="home-page" id="home-page" style="margin-right: 30px; width: 350px;">  <label for="Email">E-mail:</label>
  <input type="text" name="Email" id="email" style=" width: 350px;">
</div>

<div class="sub-barra6">
  <h2>Telefones (DDD e Número)</h2>
</div>
<div class="button-nine">
  <label for="">Tipos:</label>
  <select id="Types"  style="margin-right: 30px;">
    <option value="">--Selecione--</option>
    <option value="Residencial">Residencial</option>
    <option value="Celular">Celular</option></select>   <label for="DDD">DDD:</label>
    <input type="text" name="DDD" id="DDD" style="margin-right: 30px; width: 30px;"> <label for="Number">Número:</label>
    <input type="text" name="Número" id="number" style="margin-right: 200px"> <button type="submit">Adicionar</button>
</div>
<p class="information_for_backend">Nenhum telefone Adicionado.</p>
</div>
</body>
</html>