<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'cadastro-legal-style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Caracterização_legal</title>
</head>
<body>
    <form action="submit" method="POST"> {% csrf_token %}
        <div id="main_container">
            <h1 class="barra_principal">Caracterização Legal - Substâncias</h1>

        <div class="button1">
                    <label for="Processo_ANM">Processo ANM:</label>
            <input type="text" name="Processo_anm" id="Processo_anm"></div>

        <div class="exemplo">
            <label for="exemplo">Ex.: 999.999/9999</label> <!-- bug fixed by belt -->
        </div>

        <div class="button2">
            <label for="">Substância:</label>
            <select name="substance" style="margin-right: 15px;">
                <option value="">--Selecione--</option>
                <option value="ACTINOLITA">ACTINOLITA</option>
                <option value="">ADAMELITO</option>
                <option value="">ADUBOS ORGÂNICOS</option>
                <option value="">AFRISITA</option>
                <option value="">AGALMATOLITO</option>
                <option value="">ÁGATA</option>
                <option value="">ÁGUA GASOSA</option>
                <option value="">ÁGUA MARINHA</option>
                <option value="">ÁGUA MINERAL</option>
                <option value="">ÁGUA MINERAL ALC. BIC</option>
                <option value="">ÁGUA MINERAL ALC. TER</option>
                <option value="">ÁGUA MINERAL TER. CALCI.</option>
                <option value="">ÁGUA MINERAL TER. MAGNE</option>
                <option value="">ÁGUA MINERAL CARBOHAS</option>
                <option value="">ÁGUA MINERAL CLORETAD</option>
                <option value="">ÁGUA MINERAL FERRUGIN</option>
                <option value="">ÁGUA MINERAL LITINADA</option>
                <option value="">ÁGUA MINERAL NITRATAD</option>
                <option value="">ÁGUA MINERAL RAD. FON</option>
                <option value="">ÁGUA MINERAL RADIFERA</option>
                <option value="">ÁGUA MINERAL SULFATAD</option>
                <option value="">ÁGUA MINERAL SULFUROS</option>
                <option value="">ÁGUA MINERAL TORIO-AT</option>
                <option value="">ÁGUA POTÁVEL DE MESA</option>
                <option value="">ÁGUA TERMO MINERAL</option>
                <option value="">ÁGUAS OLIGOMINERAIS</option>
                <option value="">ÁGUAS TERMAIS</option>
                <option value="">ALASKITO</option>
                <option value="">ALCALI MONZONITO</option>
                <option value="">ALEXANDRITA</option>
                <option value="">ALGAS CALCÁREAS</option>
                <option value="">ALLANITA</option>
                <option value=">"ALMANDINA</option>
                <option value="">ALUMÍNIO</option>
                <option value="">ALUVIÃO AURÍFERO</option>
                <option value="">ALUVIÃO DIAMANTÍFERO</option>
                <option value="">ALUVIÃO ESTANÍFERO</option>
                <option value="">AMALGAM</option>
                <option value="">AMAZONITA</option>
                <option value="">ÂMBAR</option>
                <option value="">AMBLIGONITA</option>
                <option value="">AMETISTA</option>
                <option value="">AMIANTO</option>
                <option value="">ANATÁSIO</option>
                <option value="">ANDALUZITA</option>
                <option value="">ANDALUZITA INDUSTRIAL</option>
                <option value="">ANDESITO</option>
                <option value="">ANDRADITA</option>
                <option value="">ANFIBÓLIO</option>
                <option value="">ANFIBOLITO</option>
                <option value="">ANGLESITA</option>
                <option value="">ANIDRITA</option>
                <option value="">ANORTOSITO</option>
                <option value="">ANTIMÔNIO</option>
                <option value="">ANTIMÔNIO NATIVO</option>
                <option value="">ANTLERITA</option>
                <option value="">ANTOFILITA</option>
                <option value="">ANTRACITO</option>
                <option value="">APATITA</option>
                <option value="">APLITO</option>
                <option value="">ARCÓSIO</option>
                <option value="">ARDÓSIA</option>
                <option value="">AREIA</option>
                <option value="">AREIA ALUVIONAR</option>
                <option value="">AREIA COMUM</option>
                <option value="">AREIA DE BARRANCO</option>
                <option value="">AREIA DE FUNDIÇÃO</option>
                <option value="">AREIA FINA</option>
                <option value="">AREIA FLUVIAL</option>
                <option value="">AREIA IN NATURA</option>
                <option value="">AREIA INDUSTRIAL</option>
                <option value="">AREIA LAVADA</option>
                <option value="">AREIA MONAZÍTICA</option>
                <option value="">AREIA P/ FILTROS</option>
                <option value="">AREIA P/ JATEAMENTO</option>
                <option value="">AREIA P/ PERFURAÇÃO</option>
                <option value="">AREIA P/ VIDRO</option>
                <option value="">AREIA QUARTZOSA</option>
                <option value="">AREIA SILICOSA</option>
                <option value="">ARENITO</option>
                <option value="">ARENITO BETUMINOSO</option>
                <option value="">ARENITO INDUSTRIAL</option>
                <option value="">ARENITO PIROBETUMINOS</option>
                <option value="">ARGENTITA</option>
                <option value="">ARGILA</option>
                <option value="">ARGILA ALUMINOSA</option>
                <option value="">ARGILA BAUXTICA</option>
                <option value="">ARGILA BENTONÍTICA</option>
                <option value="">ARGILA BRANCA</option>
                <option value="">ARGILA CAULÍNICA</option>
                <option value="">ARGILA COMUM</option>
                <option value="">ARGILA FERRUGINOSA</option>
                <option value="">ARGILA LEUCÍTICA</option>
                <option value="">ARGILA P/CER. VERMELH</option>
                <option value="">ARGILA REFRATÁRIA</option>
                <option value="">ARGILA VERMELHA</option>
                <option value="">ARGILITO</option>
                <option value="">ARGIRODITA</option>
                <option value="">ARSÊNIO</option>
                <option value="">ARSÊNIO SULFETOS</option>
                <option value="">ARSENOPIRITA</option>
                <option value="">ASBESTOS</option>
                <option value="">ASBOLANO</option>
                <option value="">ASBOLANO NIQUELFÍRERO</option>
                <option value="">ASFALTITO</option>
                <option value="">ATAPULGITA</option>
                <option value="">AUGEN GNAISSE</option>
                <option value="">AUTUNITA</option>
                <option value="">AVICENITA</option>
                <option value="">AVOGADRITA</option>
                <option value="">AZURITA</option>
                <option value="">BADDELEÍTA</option>
                <option value="">BÁRIO</option>
                <option value="">BARITA</option>
                <option value="">BARITINA</option>
                <option value="">BASALTO</option>
                <option value="">BASALTO P/ BRITA</option>
                <option value="">BASALTO P/ REVESTIMENTO</option>
                <option value="">BASTINAESITA</option>
                <option value="">BAUXITA</option>
                <option value="">BAUXITA FOSFOROSA</option>
                <option value="">BENTONITA</option>
                <option value="">BERÍLIO</option>
                <option value="">BERILO</option>
                <option value="">BERILO VERDE</option>
                <option value="">BERILO VERMELHO</option>
                <option value="">BETUME</option>
                <option value="">BINDHEIMITA</option>
                <option value="">BIOTITA</option>
                <option value="">BIOTITA GRANITO</option>
                <option value="">BIOTITA GRANODIORITO</option>
                <option value="">BISMITA</option>
                <option value="">BISMUTINITA</option>
                <option value="">BISMUTITA</option>
                <option value="">BISMUTO</option>
                <option value="">BLENDA</option>
                <option value="">BOEHMITA</option>
                <option value="">BORATOS</option>
                <option value="">BÓRAZ (TINCAL)</option>
                <option value="">BORNITA</option>
                <option value="">BOULANGERITA</option>
                <option value="">BOURNONITA</option>
                <option value="">BRASILIANITA</option>
                <option value="">BRAVOÍTA</option>
                <option value="">BRECHA</option>
                <option value="">BRITA DE GRANITO</option>
                <option value="">BROMO</option>
                <option value="">BROOKITA</option>
                <option value="">BRUCITA</option>
                <option value="">CÁDMIO</option>
                <option value="">CALAMINA</option>
                <option value="">CALAVERITA</option>
                <option value="">CALCÁRIO</option>
                <option value="">CALCÁRIO BETUMINOSO</option>
                <option value="">CALCÁRIO CALCÍTICO</option>
                <option value="">CALCÁRIO CONCHÍFERO</option>
                <option value="">CALCÁRIO CORALÍNEO</option>
                <option value="">CALCÁRIO DOLOMITICO</option>
                <option value="">CALCÁRIO FOSFOROSO</option>
                <option value="">CALCÁRIO INDUSTRIAL</option>
                <option value="">CALCÁRIO MAGNESIANO</option>
                <option value="">CALCÁRIO P/ BRITA</option>
                <option value="">CALCÁRIO PIROBETUMINOSO</option>
                <option value="">CALCÁRIO SEDIMENTAR</option>
                <option value="">CALCÁRIO SILICOSO</option>
                <option value="">CALCEDÔNIA</option>
                <option value="">CALCITA</option>
                <option value="">CALCITA ÓTICA</option>
                <option value="">CALCOCITA</option>
                <option value="">CALCOPIRITA</option>
                <option value="">CALDASITO</option>
                <option value="">CALICHE</option>
                <option value="">CANGA</option>
                <option value="">CARBONADO</option>
                <option value="">CARBONATITO</option>
                <option value="">CARBONATO</option>
                <option value="">CARBONATOS DE CHUMBO</option>
                <option value="">CARBONATOS DE COBRE</option>
                <option value="">CARBONATOS DE MANGANÊS</option>
                <option value="">CARBONATOS DE ZINCO</option>
                <option value="">CARNALITA</option>
                <option value="">CARNOTITA</option>
                <option value="">CARVÃO</option>
                <option value="">CARVÃO ANTRACITOSO</option>
                <option value="">CARVÃO BETUMINOSO</option>
                <option value="">CARVÃO MINERAL</option>
                <option value="">CARVÃO SUB-BETUMINOSO</option>
                <option value="">CASCALHO</option>
                <option value="">CASCALHO AURÍFERO</option>
                <option value="">CASCALHO DIAMANTÍFERO</option>
                <option value="">CASCALHO ESTANÍFERO</option>
                <option value="">CASCALHO SILICOSO</option>
                <option value="">CASSITERITA</option>
                <option value="">CATACLASITO</option>
                <option value="">CAULIM</option>
                <option value="">CAULIM ARGILOSO</option>
                <option value="">CAULINITA</option>
                <option value="">CELESTITA</option>
                <option value="">CERARGIRITA</option>
                <option value="">CÉRIO</option>
                <option value="">CERITA</option>
                <option value="">CERRUSITA</option>
                <option value="">CERVANTITA</option>
                <option value="">CÉSIO</option>
                <option value="">CHAPINHA</option>
                <option value="">CHARNOQUITO</option>
                <option value="">CHERT</option>
                <option value="">CHILLAGITA</option>
                <option value="">CHUMBO</option>
                <option value="">CIANITA</option>
                <option value="">CINÁBRIO</option>
                <option value="">CITRINO</option>
                <option value="">CITRINO RIO GRANDE</option>
                <option value="">COBALTITA</option>
                <option value="">COBALTO</option>
                <option value="">COBALTO PIRITA</option>
                <option value="">COBRE</option>
                <option value="">COBRE NATIVO</option>
                <option value="">COLEMANITA</option>
                <option value="">COLOFANITA</option>
                <option value="">COLOFANO</option>
                <option value="">COLUMBITA</option>
                <option value="">CONCHAS CALCÁRIAS</option>
                <option value="">CONCHAS CALCÍTICAS</option>
                <option value="">CONCHEIRO NATURAL</option>
                <option value="">CONGLOMERADO</option>
                <option value="">CONGLOMERADO DIAMANTÍ</option>
                <option value="">CONGLOMERADO DIAMENTÍFERO</option>
                <option value=>COOPERITA</option>
                <option value=>COQUINA</option>
                <option value=>CORAL</option>
                <option value=>CORDIERITA</option>
                <option value=>CORÍNDON</option>
                <option value=>COVELITA</option>
                <option value=>CRIOLITA</option>
                <option value=>CRIPTOMELAND</option>
                <option value=>CRISOBERILO</option>
                <option value=>CRISOCOLA</option>
                <option value=>CRISOTILA</option>
                <option value=>CRISOPRÁSIO</option>
                <option value=>CRISOTILA</option>
                <option value=>CRISTAL DE ROCHA</option>
                <option value=>CROCOÍTA</option>
                <option value=>CROMITA</option>
                <option value=>CROMITA GRAU METALURG</option>
                <option value=>CROMITA GRAU QUÍMICO</option>
                <option value=>CROMITA METALURGIA</option>
                <option value=>CROMITA REFRATÁRIA</option>
                <option value=>CROMITITO</option>
                <option value=>CROMO</option>
                <option value=>CUBANITA</option>
                <option value=>CUPRITA</option>
                <option value=>DACITO</option>
                <option value=>DECLOISITA</option>
                <option value=>DIABÁSIO</option>
                <option value=>DIABÁSIO P/ BRITA</option>
                <option value=>DIABÁSIO P/ REVESTIMENTO</option>
                <option value=>DIADISITO</option>
                <option value=>DIAMANTE</option>
                <option value=>DIAMANTE INDUSTRIAL</option>
                <option value=>DIÁSPORO</option>
                <option value=>DIATEXITO</option>
                <option value=>DIATOMITA</option>
                <option value=>DIATOMITO</option>
                <option value=>DIOPSÍDIO</option>
                <option value=>DIORITO</option>
                <option value=>DIORITO INDUSTRIAL</option>
                <option value=>DIORITO ORNAMENTAL</option>
                <option value=>DIORITO P/ BRITA</option>
                <option value=>DIORITO P/ REVESTIMEN</option>
                <option value=>DISPRÓSIO</option>
                <option value=>DISTÊNIO</option>
                <option value=>DJALMAÍTA</option>
                <option value=>DOLOMITO</option>
                <option value=>DUMORTIERITA</option>
                <option value=>DUNITO</option>
                <option value=>DUNITO CROMÍFERO</option>
                <option value=>DUNITO NIQUELÍFERO</option>
                <option value=>EMBRECHITO</option>
                <option value=>ENARGITA</option>
                <option value=>ENDERDITO</option>
                <option value=>ENXOFRE</option>
                <option value=>ENXOFRE NATIVO</option>
                <option value=>EPIBOLITO</option>
                <option value=>ÉRBIO</option>
                <option value=>ERITRINA</option>
                <option value=>ESCÂNDIO</option>
                <option value=>ESCORODITA</option>
                <option value=>ESFALERITA</option>
                <option value=>ESFENO</option>
                <option value=>ESMALTITA</option>
                <option value=>ESMECTITA</option>
                <option value=>ESMERALDA</option>
                <option value=>ESPECULARITA</option>
                <option value=>ESPESSARTITA</option>
                <option value=>ESPINÉLIO CROMÍFERO</option>
                <option value=>ESPODUMÊNIO</option>
                <option value=>ESTANHO</option>
                <option value=>ESTANITA</option>
                <option value=>ESTAUROLITA</option>
                <option value=>ESTEATITO</option>
                <option value=>ESTIBICONITA</option>
                <option value=>ESTIBINITA</option>
                <option value=>ESTRONCIANITA</option>
                <option value=>ESTRÔNCIO</option>
                <option value=>EUCLÁSIO</option>
                <option value=>EUDIALITA</option>
                <option value=>EURÓPIO</option>
                <option value=>EUXENITA</option>
                <option value=>EVAPORITO</option>
                <option value=>FELDSPATO</option>
                <option value=>FENACITA</option>
                <option value=>FERBERITA</option>
                <option value=>FERRIMOLIBDENITA</option>
                <option value=>FERRO</option>
                <option value=>FERRO MANGANÊS</option>
                <option value=>FERRO-SILICIO-MANGANÊS</option>
                <option value=>FERTILIZANTE FOSFATADO</option>
                <option value=>FILITO</option>
                <option value=>FLOGOPITA</option>
                <option value=>FLÚOR</option>
                <option value=>FLÚOR-APATITA</option>
                <option value=>FLUORITA</option>
                <option value=>FLUORITA GRAU ÁCIDO</option>
                <option value=>FLUORITA GRAU CERÂMICO</option>
                <option value=>FLUORITA GRAU METALÚR</option>
                <option value=>FLUORITA GRAU QUÍMICO</option>
                <option value=>FOIAÍTO</option>
                <option value=>FOLHELHO</option>
                <option value=>FOLHELHO ARDOSIANO</option>
                <option value=>FOLHELHO ARGILOSO</option>
                <option value=>FOLHELHO BETUMINOSO</option>
                <option value=>FOLHELHO OLEÍGENO</option>
                <option value=>FOLHELHO PIROBETUMINO</option>
                <option value=>FONÓLITO</option>
                <option value=>FOSFATO</option>
                <option value=>FOSFORITA (O)</option>
                <option value=>FRANCKEÍTA</option>
                <option value=>FRANCKLINITA</option>
                <option value=>FUCHSITA</option>
                <option value=>GABRO</option>
                <option value=>GADOLÍNIO</option>
                <option value=>GADOLINITA</option>
                <option value=>GALENA</option>
                <option value=>GÁLIO</option>
                <option value=>GARNIERITA</option>
                <option value=>GEMA</option>
                <option value=>GERMÂNIO</option>
                <option value=>GERMANITA</option>
                <option value=>GESSO</option>
                <option value=>GIBSITA</option>
                <option value=>GIPSITA</option>
                <option value=>GIPSO</option>
                <option value=>GLAUCODOTO</option>
                <option value=>GLAUCOFÂNIO</option>
                <option value=>GNAISSE</option>
                <option value=>GNAISSE FACOIDAL</option>
                <option value=>GNAISSE GRANÍTICO</option>
                <option value=>GNAISSE INDUSTRIAL</option>
                <option value=>GNAISSE ORNAMENTAL</option>
                <option value=>GNAISSE P/ BRITA</option>
                <option value=>GNAISSE P/ REVESTIMENTO</option>
                <option value=>GNAISSE SIENÍTICO</option>
                <option value=>GOETHITA</option>
                <option value=>GOYAZITA</option>
                <option value=>GRAFITA</option>
                <option value=>GRANADA</option>
                <option value=>GRANADA ALUVIONAR</option>
                <option value=>GRANADA INDUSTRIAL</option>
                <option value=>GRANITO</option>
                <option value=>GRANITO	AMARELO</option>
                <option value=>GRANITO GNAÍSSICO</option>
                <option value=>GRANITO ORNAMENTAL</option>
                <option value=>GRANITO P/ BRITA</option>
                <option value=>GRANITO P/ REVESTIMENTO</option>
                <option value=>GRANITO VERDE UBATUBA</option>
                <option value=>GRANODIORITO</option>
                <option value=>GRANODIORITO INDUSTRIAL</option>
                <option value=>GRANODIORITO P/ BRITA</option>
                <option value=>GRANODIORITO P/ REVESTIMENTO</option>
                <option value=>GRANULITO</option>
                <option value=>GREENOCKITA</option>
                <option value=>GROSSULÁRIA</option>
                <option value=>GUANO</option>
                <option value=>HÁFNIO</option>
                <option value=>HALITA</option>
                <option value=>HALLOYSITA</option>
                <option value=>HALOTRIQUITA</option>
                <option value=>HAUSMANNITA</option>
                <option value=>HEBNERITA</option>
                <option value=>HELIODORO</option>
                <option value=>HELVITA</option>
                <option value=>HEMATITA</option>
                <option value=>HEMIMORFITA</option>
                <option value=>HIODENITA</option>
                <option value=>HIDRARGILITA</option>
                <option value=>HIDROZINCITA</option>
                <option value=>HÓLMIO</option>
                <option value=>HORNBLENDA DIORITO</option>
                <option value=>HORNBLENDA GRANITO</option>
                <option value=>IDAÍTA</option>
                <option value=>ILMENITA</option>
                <option value=>ILMENITA MAGNESIANA</option>
                <option value=>ILMENO HEMATITA</option>
                <option value=>ÍNDIO</option>
                <option value=>IODO</option>
                <option value=>IRÍDIO</option>
                <option value=>ITABIRITO</option>
                <option value=>ITÉRBIO</option>
                <option value=>ÍTRIO</option>
                <option value=>ITROFLUORITA</option>
                <option value=>JACUTINGA</option>
                <option value=>JADE</option>
                <option value=>JADEÍTA</option>
                <option value=>JAMESONITA</option>
                <option value=>JASPE</option>
                <option value=>KAINITA</option>
                <option value=>KINZIGITO</option>
                <option value=>KNOPITA</option>
                <option value=>KINZITA</option>
                <option value=>LANTÂNIO</option>
                <option value=>LÁPIS LAZÚLI</option>
                <option value=>LARDITO</option>
                <option value=>LATERITA</option>
                <option value=>LATERITA ALUMINOSA</option>
                <option value=>LATERITA FERRUGINOSA</option>
                <option value=>LATERITA NIQUELÍFERA</option>
                <option value=>LAVRITA</option>
                <option value=>LAZURITA</option>
                <option value=>LEPIDOLITA</option>
                <option value=>LEUCITA</option>
                <option value=>LEUCOFILITO</option>
                <option value=>LEOCOXÊNIO</option>
                <option value=>LIMONITA</option>
                <option value=>LINHITO</option>
                <option value=>LINHITO CARBONOSO</option>
                <option value=>LINNEÍTA</option>
                <option value=>LÍTIO</option>
                <option value=>LOLINGITA</option>
                <option value=>LOPARITA</option>
                <option value=>LUTÉCIO</option>
                <option value=>MAGNÉSIO</option>
                <option value=>MAGNESITA</option>
                <option value=>MAGNETITA</option>
                <option value=>MALACACHETA</option>
                <option value=>MALAQUITA</option>
                <option value=>MANGANÊS</option>
                <option value=>MANGANITA</option>
                <option value=>MANGANOTANTALITA</option>
                <option value=>MARUÍTO</option>
                <option value=>MARGA</option>
                <option value=>MÁRMORE</option>
                <option value=>MÁRMORE DOLOMITICO</option>
                <option value=>MÁRMORE INDUSTRIAL</option>
                <option value=>MÁRMORE P/ REVESTIMENTO</option>
                <option value=>MARITA</option>
                <option value=>MASSICOT</option>
                <option value=>MERCÚRIO</option>
                <option value=>MERCÚRIO NATIVO</option>
                <option value=>METACONGLOMERADO</option>
                <option value=>MICA</option>
                <option value=>MICAXISTO</option>
                <option value=>MICROLITA</option>
                <option value=>MIGMATITO</option>
                <option value=>MIGMATITO INDUSTRIAL</option>
                <option value=>MIGMATITO ORNAMENTAL</option>
                <option value=>MIGMATITO P/ BRITA</option>
                <option value=>MIGMATITO P/ REVESTIMENTO</option>
                <option value=>MILLERITA</option>
                <option value=>MIMETITA</option>
                <option value=>MINÉRIO DE ALUMÍNIO</option>
                <option value=>MINÉRIO DE ANTIMÔNIO</option>
                <option value=>MINÉRIO DE ARSÊNICO</option>
                <option value=>MINÉRIO DE BERÍLIO</option>
                <option value=>MINÉRIO DE BISMUTO</option>
                <option value=>MINÉRIO DE CÁDMIO</option>
                <option value=>MINÉRIO DE CÉRIO</option>
                <option value=>MINÉRIO DE CÉSIO</option>
                <option value=>MINÉRIO DE CHUMBO</option>
                <option value=>MINÉRIO DE COBALTO</option>
                <option value=>MINÉRIO DE COBRE</option>
                <option value=>MINÉRIO DE CROMO</option>
                <option value=>MINÉRIO DE ESCÂNDIO</option>
                <option value=>MINÉRIO DE ESTANHO</option>
                <option value=>MINÉRIO DE FERRO</option>
                <option value=>MINÉRIO DE GÁLIO</option>
                <option value=>MINÉRIO DE GERMÂNIO</option>
                <option value=>MINÉRIO DE HÁFNIO</option>
                <option value=>MINÉRIO DE ÍNDIO</option>
                <option value=>MINÉRIO DE IRÍDIO</option>
                <option value=>MINÉRIO DE ÍTRIO</option>
                <option value=>MINÉRIO DE LÍTIO</option>
                <option value=>MINÉRIO DE MAGNÉSIO</option>
                <option value=>MINÉRIO DE MANGANÊS</option>
                <option value=>MINÉRIO DE MERCÚRIO</option>
                <option value=>MINÉRIO DE MOLIBDÊNIO</option>
                <option value=>MINÉRIO DE NIÓBIO</option>
                <option value=>MINÉRIO DE NÍQUEL</option>
                <option value=>MINÉRIO DE ÓSMIO</option>
                <option value=>MINÉRIO DE OURO</option>
                <option value=>MINÉRIO DE PALÁDIO</option>
                <option value=>MINÉRIO DE PLATINA</option>
                <option value=>MINÉRIO DE PRATA</option>
                <option value=>MINÉRIO DE RÁDIO</option>
                <option value=>MINÉRIO DE RÊNIO</option>
                <option value=>MINÉRIO DE RÔDIO</option>
                <option value=>MINÉRIO DE RUBÍDIO</option>
                <option value=>MINÉRIO DE RUTÊNIO</option>
                <option value=>MINÉRIO DE SELÊNIO</option>
                <option value=>MINÉRIO DE SILÍCIO</option>
                <option value=>MINÉRIO DE TÁLIO</option>
                <option value=>MINÉRIO DE TÂNTALO</option>
                <option value=>MINÉRIO DE TELÚRIO</option>
                <option value=>MINÉRIO DE TITÂNIO</option>
                <option value=>MINÉRIO DE TÓRIO</option>
                <option value=>MINÉRIO DE TUNGSTÊNIO</option>
                <option value=>MINÉRIO DE URÂNIO</option>
                <option value=>MINÉRIO DE VANÁDIO</option>
                <option value=>MINÉRIO DE WOLFRÂMIO</option>
                <option value=>MINÉRIO DE ZINCO</option>
                <option value=>MINÉRIO DE ZIRCÔNIO</option>
                <option value=>MISPÍQUEL</option>
                <option value=>MOLIBDÊNIO</option>
                <option value=>MOLIBDENITA</option>
                <option value=>MONAZITA</option>
                <option value=>MONTMORILONITA</option>
                <option value=>MONZOGRANITO</option>
                <option value=>MONZOGRANITO INDUSTRIAL</option>
                <option value=>MONZOGRANITO ORNAMENTAL</option>
                <option value=>MONZOGRANITO P/ BRITA</option>
                <option value=>MONZOGRANITO P/ REVESTIM</option>
                <option value=>MORGANITA</option>
                <option value=>MORION</option>
                <option value=>MOSCOVITA</option>
                <option value=>MUSCOVITA</option>
                <option value=>Não Definido</option>
                <option value=>NEFELINA</option>
                <option value=>NEFELINA FONÓLITO</option>
                <option value=>NEFELINA SIENITO</option>
                <option value=>NEODÍMIO</option>
                <option value=>NEWJANSKITA</option>
                <option value=>NICOLITA</option>
                <option value=>NIÓBIO</option>
                <option value=>NIOBITA</option>
                <option value=>NÍQUEL</option>
                <option value=>NITRATO DE POTÁSSIO</option>
                <option value=>NITRATO DE SÓDIO</option>
                <option value=>NITRATOS</option>
                <option value=>NITRO</option>
                <option value=>NONTRONITA</option>
                <option value=>NORITO</option>
                <option value=>OBSIDIANA</option>
                <option value=>OCRE</option>
                <option value=>OCRE DE FERRO</option>
                <option value=>OLHO DE GATO</option>
                <option value=>OLIVINA</option>
                <option value=>ÔNIX</option>
                <option value=>ONOFRITA</option>
                <option value=>OPALA</option>
                <option value=>ORTOCLÁSIO</option>
                <option value=>ÓSMIOOSMIRÍDIO</option>
                <option value=>OURO</option>
                <option value=>OURO NATIVO</option>
                <option value=>OURO IGMENTO</option>
                <option value=>ÓXIDO DE FERRO</option>
                <option value=>ÓXIDOS DE CHUMBO</option>
                <option value=>ÓXIDOS DE COBRE</option>
                <option value=>ÓXIDOS DE MANGANÊS</option>
                <option value=>ÓXIDOS DE ZINCO</option>
                <option value=>PAGODITO</option>
                <option value=>PALÁDIO</option>
                <option value> PALÁDIO NATIVO</option>
                <option value=>PARASITA</option>
                <option value=>PECHBLENDA</option>
                <option value=>PEDRA CALCÁRIA</option>
                <option value=>PEDRA CORADA</option>
                <option value=>PEDRA ORNAMENTAL</option>
                <option value=>PEDRA ORNAMENTAL (GEMA)</option>
                <option value=>PEDRA PRECIOSA</option>
                <option value=>PEDRA QUARTZITO</option>
                <option value=>PEDRA SABÃO</option>
                <option value=>PEDRA SÃO TOMÉ</option>
                <option value=>PEDREGULHO</option>
                <option value=>PEGMATITO</option>
                <option value=>PENTLANDITA</option>
                <option value=>PERIDOTITO</option>
                <option value=>PERÓDOTO</option>
                <option value=>PERISTERITA</option>
                <option value=>PERLITA</option>
                <option value=>PERLITO</option>
                <option value=>PEROVSKITA</option>
                <option value=>PETALITA</option>
                <option value=>PINGUITA</option>
                <option value=>PIRARGIRITA</option>
                <option value=>PIRITA</option>
                <option value=>PIRITA DE COBRE</option>
                <option value=>PIRITA DE ESTANHO</option>
                <option value=>PIROCLORO</option>
                <option value=>PIROFILITA</option>
                <option value=>PIROLUSITA</option>
                <option value=>PIROMORFITA</option>
                <option value=>PIROPO</option>
                <option value=>PIROXÊNIO TONALITO</option>
                <option value=>PIROXENITO</option>
                <option value=>PIRROTITA</option>
                <option value=>PLATINA</option>
                <option value=>PLATINA ALUVIONAR</option>
                <option value=>PLATINA NATIVA</option>
                <option value=>PLATINIRÍDIO</option>
                <option value=>PLATINÓIDES</option>
                <option value=>POLIALITA</option>
                <option value=>POLIANITA</option>
                <option value=>POLICRASITA</option>
                <option value=>POLIXÊNIO</option>
                <option value=>POLUCITA</option>
                <option value=>POWELLITA</option>
                <option value=>PRASEODÍMIO</option>
                <option value=>PRATA</option>
                <option value=>PRATA NATIVA</option>
                <option value=>PROMÉCIO</option>
                <option value=>PROUSTITA</option>
                <option value=>PSILOMELANO</option>
                <option value=>QUARTZITO</option>
                <option value=>QUARTZITO DUMORTIERITO</option>
                <option value=>QUARTZITO FRIÁVEL</option>
                <option value=>QUARTZITO INDUSTRIAL</option>
                <option value=>QUARTZITO MICÁCEO</option>
                <option value=>QUARTZITO P/ REVESTIMENTO</option>
                <option value=>QUARTZITO ROSA</option>
                <option value=>QUARTZITO SERICITICO</option>
                <option value=>QUARTZITO VERDE</option>
                <option value=>QUARTZO</option>
                <option value=>QUARTZO BICOLOR</option>
                <option value=>QUARTZO COM INCLUSÕES</option>
                <option value=>QUARTZO FUME</option>
                <option value=>QUARTZO FUNDENTE</option>
                <option value=>QUARTZO HIALINO</option>
                <option value=>QUARTZO INDUSTRIAL</option>
                <option value=>QUARTZO LEITOSO</option>
                <option value=>QUARTZO MONZONITO</option>
                <option value=>QUARTZO MORION</option>
                <option value=>QUARTZO RÓSEO</option>
                <option value=>QUARTZO VERDE</option>
                <option value=>RABDOFANITA</option>
                <option value=>RÁDIO</option>
                <option value=>REALGAR</option>
                <option value=>RÊNIO</option>
                <option value=>RINLOLITA</option>
                <option value=>RIÓLITO</option>
                <option value=>ROCHA AURÍFERA</option>
                <option value=>ROCHA BETUMINOSA</option>
                <option value=>ROCHA CALCÁRIA</option>
                <option value=>ROCHA CARBONÁTICA</option>
                <option value=>ROCHA DIAMANTÍFERA</option>
                <option value=>ROCHA ESTANÍFERA</option>
                <option value=>ROCHA PIROBETUMINOSA</option>
                <option value=>ROCHA POTÁSSICA</option>
                <option value=>RÓDIO</option>
                <option value=>RODOCROSITA</option>
                <option value=>RODONITA</option>
                <option value=>ROQUESITA</option>
                <option value=>ROSCOELITA</option>
                <option value=>RUBELITA</option>
                <option value=>RUBI</option>
                <option value=>RUBI ESPINÉLIO</option>
                <option value=>RUBÍDIO</option>
                <option value=>RUTÊNIO</option>
                <option value=>RUTILO</option>
                <option value=>SAFIRA</option>
                <option value=>SAFLORITA</option>
                <option value=>SAIBREIRA</option>
                <option value=>SAIBRO</option>
                <option value=>SAIS DE BROMO</option>
                <option value=>SAIS DE IODO</option>
                <option value=>SAIS DE MAGNÊSIO</option>
                <option value=>SAIS DE POTÁSSIO</option>
                <option value=>SAIS DE SÓDIO</option>
                <option value=>SALGEMA</option>
                <option value=>SALITRE</option>
                <option value=>SAMÁRIO</option>
                <option value=>SAPONITA</option>
                <option value=>SAPONITO</option>
                <option value=>SAPROPEL</option>
                <option value=>SAPROPELITO</option>
                <option value=>SÁRDIO</option>
                <option value=>SCHEELITA</option>
                <option value=>SEIXOS</option>
                <option value=>SEIXOS ROLADOS</option>
                <option value=>SELÊNIO</option>
                <option value=>SENEGALITA</option>
                <option value=>SENGIERITA</option>
                <option value=>SEPIOLITA</option>
                <option value=>SERICITA</option>
                <option value=>SERPENTINITO</option>
                <option value=>SIBERITA</option>
                <option value=>SIDERITA</option>
                <option value=>SIEGENITA</option>
                <option value=>SIENITO</option>
                <option value=>SIENITO INDUSTRIAL</option>
                <option value=>SIENITO ORNAMENTAL</option>
                <option value=>SIENITO P/ BRITA</option>
                <option value=>SIENITO	P/ REVESTIMENTO</option>
                <option value=>SIENITO GRANITO</option>
                <option value=>SÍLEX</option>
                <option value=>SILEXITO</option>
                <option value=>SÍLICA</option>
                <option value=>SILICATOS DE COBRE</option>
                <option value=>SILICATOS DE MANGANÊS</option>
                <option value=>SILICATOS DE NÍQUEL</option>
                <option value=>SILICATOS DE ZINCO</option>
                <option value=>SILÍCIO</option>
                <option value=>SILLIMANITA</option>
                <option value=>SILTITO</option>
                <option value=>SILVANITA</option>
                <option value=>SILVANITA (OURO)</option>
                <option value=>SILVINITA</option>
                <option value=>SILVITA</option>
                <option value=>SMITHSONITA</option>
                <option value=>SODALITA</option>
                <option value=>SODALITA SIENITO</option>
                <option value=>SOHNGEÍTA</option>
                <option value=>SPERRYLITA</option>
                <option value=>STEPHANITA</option>
                <option value=>SULFETOS DE CHUMBO</option>
                <option value=>SULFETOS DE COBRE</option>
                <option value=>SULFETOS DE NÍQUEL</option>
                <option value=>SULFETOS DE ZINCO</option>
                <option value=>SZAIBELLYITA</option>
                <option value=>TABATINGA</option>
                <option value=>TAGUÁ</option>
                <option value=>TALCO</option>
                <option value=>TALCO XISTO</option>
                <option value=>TÁLIO</option>
                <option value=>TANTALITA</option>
                <option value=>TANTALITA-COLUMBITA</option>
                <option value=>TÂNTALO</option>
                <option value=>TAPIOLITA</option>
                <option value=>TAUÁ</option>
                <option value=>TELÚRIO</option>
                <option value=>TENNANTITA</option>
                <option value=>TENORITA</option>
                <option value=>TÉRBIO</option>
                <option value=>TERRA DE SIENA</option>
                <option value=>TERRA FULLER</option>
                <option value=>TERRAS RARAS</option>
                <option value=>TETRADIMITA</option>
                <option value=>THORTVEÍTA</option>
                <option value=>TINCAL</option>
                <option value=>TINGUAÍTO</option>
                <option value=>TITÂNIOTITANITA</option>
                <option value=>TIFANO MAGNETITATONALITO</option>
                <option value=>TOPÁZIO</option>
                <option value=>TOPÁZIO IMPERIAL</option>
                <option value=>TORIANITA</option>
                <option value=>TÓRIO</option>
                <option value=>TORITA</option>
                <option value=>TRAQUITO</option>
                <option value=>TRAQUITO ALCALINO</option>
                <option value=>TRAQUITO INDUSTRIAL</option>
                <option value=>TRAQUITO ORNAMENTAL</option>
                <option value=>TREMOLITA</option>
                <option value=>TREMOLITITO</option>
                <option value=>TRIFILITA</option>
                <option value=>TRIPOLI</option>
                <option value=>TRONA</option>
                <option value=>TRONDJEMITO</option>
                <option value=>TUFO</option>
                <option value=>TUFO VULCÂNICO</option>
                <option value=>TÚLIO</option>
                <option value=>TUNGSTÊNIO</option>
                <option value=>TURFA</option>
                <option value=>TURFEIRA</option>
                <option value=>TURMALINA</option>
                <option value=>TURMALINA AZUL</option>
                <option value=>TURMALINA ROSA</option>
                <option value=>TURMALINA VERDE</option>
                <option value=>TURQUESA</option>
                <option value=>ULEXÍTA</option>
                <option value=>URANINITA</option>
                <option value=>URÂNIOURONOFANO</option>
                <option value=>URANOTALITA</option>
                <option value=>URBAÍTA</option>
                <option value=>UVAROVITA</option>
                <option value=>VALENTINA</option>
                <option value=>VANADINITA</option>
                <option value=>VANÁDIO</option>
                <option value=>VARISCITA</option>
                <option value=>VARVITO</option>
                <option value=>VERMICULITA</option>
                <option value=>VIOLARITA</option>
                <option value=>VARVITOVERMICULITA</option>
                <option value=>WITHERITA</option>
                <option value=>WOLFRÂMIO</option>
                <option value=>WOLFRAMITA</option>
                <option value=>WOLLASTONITA</option>
                <option value=>WULFENITA</option>
                <option value=>XENOTIMA</option>
                <option value=>XENOTÍMIO</option>
                <option value=>XISTO</option>
                <option value=>XISTO ARGILOSO</option>
                <option value=>XISTO BETUMINOSO</option>
                <option value=>XISTO PIROBETUMINOSO</option>
                <option value=>XISTO TALCÍFERO</option>
                <option value=>ZINCITA</option>
                <option value=>ZINCO</option>
                <option value=>ZIRCÂO</option>
                <option value=>ZIRCÔNIO</option>
                <option value=>ZIRCONITA</option>
                </select>               <label for="">Uso:</label>
            <select name="use">
                <option value="">--Selecione--</option>
                <option value="ABRASIVO">ABRASIVO</option>
                <option value="ARTESANATO MINERAL">ARTESANATO MINERAL</option>
                <option value="BAINEOTERAPIA">BAINEOTERAPIA</option>
                <option value="BRITA">BRITA</option>
                <option value="CERÂMICA VERMELHA">CERÂMICA VERMELHA</option>
                <option value="CONSTRUÇÃO CIVIL">CONSTRUÇÃO CIVIL</option>
                <option value="CORRETIVO DE SOLO">CORRETIVO DE SOLO</option>
                <option value="ENERGÉTICO">ENERGÉTICO</option>
                <option value="ENGARRAFAMENTO">ENGARRAFAMENTO</option>
                <option value="FABRICAÇÃO DE CAL">FABRICAÇÃO DE CAL</option>
                <option value="FABRICAÇÃO DE CIMENTO">FABRICAÇÃO DE CIMENTO</option>
                <option value="FABRICAÇÃO DE LIGAS">FABRICAÇÃO DE LIGAS</option>
                <option value="FABRICAÇÃO DE VIDRO">FABRICAÇÃO DE VIDRO</option>
                <option value="FERTILIZANTES">FERTILIZANTES</option>
                <option value="GEMA">GEMA</option>
            </select>
            </div>
        <div class="button_submit">
            <button type="submit">Gravar</button>   <a href="/"><button type="button">Cancelar</button></a>
        <div class="button_next">
            <a href="/menu/cadastrooperacional"><button type="button">Próxima >></button></a>
        </div>
        </div>
    </form>
    {% for message in messages %}
        <strong>{{message}}</strong>
    {% endfor %}
</body>
</html>