<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'cadastro-tec-style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Cadastro_Tecnico</title>
</head>
<body>
  <div id="main_container">
    <h1 class="barra-principal">RAL >> Cadastro >> Responsável Técnico pelo RAL</h1>
    <h2 class="barra2"> Titular >> Indentificação</h2>
      <h2 class="cnpj">CNPJ: 00.000.000/0000-00</h2>
      <h2 class="RS">Razão Social: Mineração Nacional S.A.</h2>

    <form id="Cadastro_tec_RAL" action="submit" method="POST"> {% csrf_token %}
        <div class="barra-principal2">
          <h2> Responsável pelo RAL >> Indentificação</h2></div>
        <div class="button-tec">  
          <label for=" CPF" required>CPF:</label>
          <input type="text" name="CPF" id="CPF"></div>
          <h2 class="name-tec">Nome: (Nome do Responsável Tecnico pelo RAL)</h2>

      <div class="barra-principal3">
        <h2>CREA - Registro Profissional</h2></div>

        <div class="buttons-CREA">
          <label for="">Profissão:</label>
        <select id="Profissão" name="Profissão" style="margin-right: 50px;">
          ><option value="">--Selecione--</option>
          <option value="Engenheiro de Minas">Engenheiro de Minas</option>
          <option value="Geólogo">Geólogo</option>
          <option value="Geólogo de Engenharia">Geólogo de Engenharia</option>
          <option value="">Outros...</option>
        </select>
        <label for="" >Número:</label>
        <input type="text" name="Número1" id="Número">
        </div>

        <div class="button-CREA2">
          <label for="">Jurisdição:</label>
        <select id="jurisdiction" name="jurisdiction"  style="margin-right: 110px;">
          <option value="">--Selecione--</option>
          <option value="CREA-AC">CREA-AC</option>
          <option value="CREA-AL">CREA-AL</option>
          <option value="CREA-AM">CREA-AM</option>
          <option value="CREA-AP">CREA-AP</option>
          <option value="CREA-BA">CREA-BA</option>
          <option value="CREA-CE">CREA-CE</option>
          <option value="CREA-DF">CREA-DF</option>
          <option value="CREA-ES">CREA-ES</option>
          <option value="CREA-GO">CREA-GO</option>
          <option value="CREA-MA">CREA-MA</option>
          <option value="CREA-MG">CREA-MG</option>
          <option value="CREA-MS">CREA-MS</option>
          <option value="CREA-MT">CREA-MT</option>
          <option value="CREA-PA">CREA-PA</option>
          <option value="CREA-PB">CREA-PB</option>
          <option value="CREA-PE">CREA-PE</option>
          <option value="CREA-PI">CREA-PI</option>
          <option value="CREA-PR">CREA-PR</option>
          <option value="CREA-RJ">CREA-RJ</option>
          <option value="CREA-RN">CREA-RN</option>
          <option value="CREA-RO">CREA-RO</option>
          <option value="CREA-RR">CREA-RR</option>
          <option value="CREA-RS">CREA-RS</option>
          <option value="CREA-SC">CREA-SC</option>
          <option value="CREA-SE">CREA-SE</option>
          <option value="CREA-SP">CREA-SP</option>
          <option value="CREA-TO">CREA-TO</option>
        </select> <label for="">Especifique a Profissão</label> <input type="text" name="text" id="text"> 
        </div>

        <div class="barra-principal3">
          <h2>ART de Elaboração do RAL</h2>
          </div>

          <div class="buttons-ART">
            <label for="">Número:</label>
            <input type="texto" name="Número2" id="Número" style="margin-right: 30px;">
            <label for="">Data:</label>
            <input type="date" name="Data" id="Data" style="margin-right: 30px;">
            <label for="">Jurisdição:</label>
            <select id="Jurisdição" name="Jurisdição">
              <option value="">--</option>
              <option value="CREA-AC">CREA-AC</option>
              <option value="CREA-AL">CREA-AL</option>
              <option value="CREA-AM">CREA-AM</option>
              <option value="CREA-AP">CREA-AP</option>
              <option value="CREA-BA">CREA-BA</option>
              <option value="CREA-CE">CREA-CE</option>
              <option value="CREA-DF">CREA-DF</option>
              <option value="CREA-ES">CREA-ES</option>
              <option value="CREA-GO">CREA-GO</option>
              <option value="CREA-MA">CREA-MA</option>
              <option value="CREA-MG">CREA-MG</option>
              <option value="CREA-MS">CREA-MS</option>
              <option value="CREA-MT">CREA-MT</option>
              <option value="CREA-PA">CREA-PA</option>
              <option value="CREA-PB">CREA-PB</option>
              <option value="CREA-PE">CREA-PE</option>
              <option value="CREA-PI">CREA-PI</option>
              <option value="CREA-PR">CREA-PR</option>
              <option value="CREA-RJ">CREA-RJ</option>
              <option value="CREA-RN">CREA-RN</option>
              <option value="CREA-RO">CREA-RO</option>
              <option value="CREA-RR">CREA-RR</option>
              <option value="CREA-RS">CREA-RS</option>
              <option value="CREA-SC">CREA-SC</option>
              <option value="CREA-SE">CREA-SE</option>
              <option value="CREA-SP">CREA-SP</option>
              <option value="CREA-TO">CREA-TO</option>
            </select></div>
          
          <div class="authorization">
            <h2 class="barra-principal4">Autorização</h2>
          </div>
          <p class="authorization-dados">Autoriza a inclusão dos dados no Cadastro Público de Profissionais de Mineração a ser divulgado?</p>

          <div class="button-accept">
            <input type="radio" id="option" name="option" value="True"autocomplete="off"> <label for="option">Sim</label>
          </div>
          <div class="button-accept">
            <input type="radio" id="option" name="option" value="False" autocomplete="off" > <label for="option">Não</label>
          </div>
      {% for message in messages %}
        <strong>{{message}}</strong>
      {% endfor %}
          <div class="button-next">
            <button type="submit">Gravar</button>
          </div>
      </div>
    </form>
  </div>
</body>
</html>
