<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'dados-minas-info-tec.style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Dados_basicos_minas</title>
</head>
<body>
    <div id="main_container">
        <h1 class="barra_main">Caracterização Operacional</h1>
        <h2 class="sub-barra">Dados Básicos da Mina</h2>

    <div class="button-one">
        <label for="mina_name">Nome da Mina:</label>
        <input type="text" name="mina_name" id="mina_name">
    </div>

    <! -- just not to get confused lol-->
    <p class="questionary">Lavra executada por terceiros?</p>
    <div class="button-accept">
        <input type="radio" class="option" name="Sim" value="Sim"autocomplete="off"> <label for="option">Sim</label>
    </div>
    <div class="button-accept">
        <input type="radio" class="option" name="Não" value="Não" autocomplete="off" > <label for="option">Não</label>
    </div>

    <div class="barra-main2">
        <h2>Informações Técnicas</h2>
    </div>
    <div class="sub-barra2">
        <h2>Minérios</h2>
    </div>
    <div class="button-two">
        <label for="">Minérios existentes na mina:</label>
        <select id="existing_ore">
            <option value="">--Selecione--</option>
            <option value="">Agalmatolito (t)</option>
            <option value="">Aluivão Aurífero (t)</option>
            <option value="">Aluivão com Gemas (t)</option>
            <option value="">Aluivão Diamantífero (t)</option>
            <option value="">Aluivão Diamantífero e Aurífero (t)</option>
            <option value="">Aluivão Estanífero (t)</option>
            <option value="">Amianto (t)</option>
            <option value="">Anortosito (t)</option>
            <option value="">Arcósio (t)</option>
            <option value="">Ardósia (t)</option>
            <option value="">Areia (t)</option>
            <option value="">Areia anortosítica (t)</option>
            <option value="">Areia com Minerais Pesados (t)</option>
            <option value="">Areia e Cascalho (t)</option>
            <option value="">Areia e Seixo (t)</option>
            <option value="">Areia Industrial (t)</option>
            <option value="">Areia Monazítica (t)</option>
            <option value="">Areia Quartzosa (t)</option>
            <option value="">Arenito (t)</option>
            <option value="">Argila (t)</option>
            <option value="">Argila Arenosa (t)</option>
            <option value="">Argila Bentonítica (t)</option>
            <option value="">Argila Caulinítica (t)</option>
            <option value="">Argila Comum e Plástica (t)</option>
            <option value="">Argila Ferruginosa (t)</option>
            <option value="">Argila Gibbsítica (t)</option>
            <option value="">Argila preta (t)</option>
            <option value="">Argila Refratária (t)</option>
            <option value="">Argila Silicosa Refratária (t)</option>
            <option value="">Argila Vermelha (t)</option>
            <option value="">Argilito (t)</option>
            <option value="">Atapulgita (t)</option>
            <option value="">Barita (t)</option>
            <option value="">Basalto (t)</option>
            <option value="">Basalto com Geodos/Ágata (t)</option>
            <option value="">Bauxita Grau Metalúrgico (t)</option>
            <option value="">Bauxita Grau Não Metalúrgico (t)</option>
            <option value="">Bentonita (t)</option>
            <option value="">Brecha (t)</option>
            <option value="">Calcário (t)</option>
            <option value="">Calcário Calcítico (t)</option>
            <option value="">Calcário Dolomítico (t)</option>
            <option value="">Calcita (t)</option>
            <option value="">Caldasito (t)</option>
            <option value="">Carvão Mineral (t)</option>
            <option value="">Carvão Mineral Camada Barro Branco (t)</option>
            <option value="">Carvão Mineral Camada Bonito (t)</option>
            <option value="">Carvão Mineral Camada Irapuá (t)</option>
            <option value="">Cascalho (t)</option>
            <option value="">Cascalho Aurífero (t)</option>
            <option value="">Cascalho com Gemas (t)</option>
            <option value="">Cascalho Diamantífero (t)</option>
            <option value="">Cascalho Estanífero (t)</option>
            <option value="">Caulim (t)</option>
            <option value="">Charnoquito (t)</option>
            <option value="">Conchas Calcárias (t)</option>
            <option value="">Conglomerado (t)</option>
            <option value="">Conglomerado Diamantífero (t)</option>
            <option value="">Criolita (t)</option>
            <option value="">Cromita (t)</option>
            <option value="">Cromitito (t)</option>
            <option value="">Diabásio (t)</option>
            <option value="">Diatomita (t)</option>
            <option value="">Diatomito (t) </option>
            <option value="">Diorito (t)</option>
            <option value="">Dolomita (t) </option>
            <option value="">Dolomito (t)</option>
            <option value="">Esteatito (t)</option>
            <option value="">Evaporito (t)</option>
            <option value="">Feldspato (t)</option>
            <option value="">Filito (t)</option>
            <option value="">Fluorita (t)</option>
            <option value="">Folhelho (t)</option>
            <option value="">Folhelho Argiloso (t)</option>
            <option value="">Fonolito (t)</option>
            <option value="">Fosfato (t)</option>
            <option value="">Gabro (t)</option>
            <option value="">Geodos de Ametista e/ou Àgata (t)</option>
            <option value="">Gibbsita (t)</option>
            <option value="">Gipsita (t)</option>
            <option value="">Gnaisse (t)</option>
            <option value="">Granada (t)</option>
            <option value="">Granito (t)</option>
            <option value="">Granito Gnaissico (t)</option>
            <option value="">Granito Greizenizado (t)</option>
            <option value="">Granodiorito (t)</option>
            <option value="">Granulito Gnaisse (t)</option>
            <option value="">Hematita (t)</option>
            <option value="">Itabirito (t)</option>
            <option value="">Laterita (t)</option>
            <option value="">Laterita Ferruginosa (t)</option>
            <option value="">Leucofilito (t)</option>
            <option value="">Magnesita (t)</option>
            <option value="">Mármore (t)</option>
            <option value="">Micaxisto (t)</option>
            <option value="">Migmatito (t)</option>
            <option value="">Minério com Gemas (t)</option>
            <option value="">Minério com Terras Raras (t)</option>
            <option value="">Minério de Alumínio (t)</option>
            <option value="">Minério de Antimônio (t)</option>
            <option value="">Minério de Arsênio (t)</option>
            <option value="">Minério de Bismuto (t)</option>
            <option value="">Minério de Cádmio (t)</option>
            <option value="">Minério de Chumbo (t)</option>
            <option value="">Minério de Cobalto (t)</option>
            <option value="">Minério de Cobre (t)</option>
            <option value="">Minério de Cromo (t)</option>
            <option value="">Minério de Enxofre (t)</option>
            <option value="">Minério de Estanho Primário (t)</option>
            <option value="">Minério de Estrôncio (t)</option>
            <option value="">Minério de Ferro (t)</option>
            <option value="">Minério de Lítio (t)</option>
            <option value="">Minério de Magnésio (t)</option>
            <option value="">Minério de Manganês (t)</option>
            <option value="">Minério de Mercúrio (t)</option>
            <option value="">Minério de Molibdênio (t)</option>
            <option value="">Minério de Nióbio (t)</option>
            <option value="">Minério de Níquel</option>
            <option value="">Minério de Platina (t)</option>
            <option value="">Minério de Potássio (t)</option>
            <option value="">Minério de Prata (t)</option>
            <option value="">Minério de Silício (t)</option>
            <option value="">Minério de Tântalo (t)</option>
            <option value="">Minério de Terras Raras (t)</option>
            <option value="">Minério de Titânio (t)</option>
            <option value="">Minério de Tungstênio (t)</option>
            <option value="">Minério de Urânio (t)</option>
            <option value="">Minério de Vanádio (t)</option>
            <option value="">Minério de Zinco (t)</option>
            <option value="">Minério de Zircônio (t)</option>
            <option value="">Nefelina Sienito (t)</option>
            <option value="">Norito (t)</option>
            <option value="">Ocre (t)</option>
            <option value="">Pegmatito (t)</option>
            <option value="">Potássio (t)</option>
            <option value="">Quartizito (t)</option>
            <option value="">Quartizito Ornamental (t)</option>
            <option value="">Quartzo (t)</option>
            <option value="">Rocha Aurífera (t)</option>
            <option value="">Rocha Betuminosa (t)</option>
            <option value="">Rocha Carbonática (t)</option>
            <option value="">Rocha com Gemas (t)</option>
            <option value="">Rocha com Mineral Ornamental (t)</option>
            <option value="">Rocha Diamantífera (t)</option>
            <option value="">Rocha Fosfática (t)</option>
            <option value="">Rocha para Brita (t)</option>
            <option value="">Rocha para Revestimento (t)</option>
            <option value="">Rocha para Uso Industrial (t)</option>
            <option value="">Rocha Potássica (t)</option>
            <option value="">Rocha Vulcânica (t)</option>
            <option value="">Saibro (t)</option>
            <option value="">Sais (t)</option>
            <option value="">Salgema (t)</option>
            <option value="">Salitre (t)</option>
            <option value="">Sapropelito (t)</option>
            <option value="">Seixo (t)</option>
            <option value="">Serpentinito (t)</option>
            <option value="">Sienito (t)</option>
            <option value="">Sílex (t)</option>
            <option value="">Siltito (t)</option>
            <option value="">Silvanita (t)</option>
            <option value="">Talco (t)</option>
            <option value="">Talco Cerâmico (t)</option>
            <option value="">Tinguaíto (t)</option>
            <option value="">Tonalito (t)</option>
            <option value="">Trona (t)</option>
            <option value="">Tufo Vulcânico (t)</option>
            <option value="">Turfa (t)</option>
            <option value="">Varvito (t)</option>
            <option value="">Vermiculita (t)</option>
            <option value="">Xisto (t)</option>
            <option value="">Xisto Betuminoso (t)</option>
        </select>
</div>

    <div class="button-add">
            <button value="">Adicionar</button>
    </div>

    <div class="sub-barra3">
        <h2>Métodos da Lavra</h2>
    </div>
    <div class="button-three">
        <label for="">Modalidade dos Métodos da Lavra:</label>
        <select class="M_Lavra">
            <option value="">--Selecione--</option>
            <option value="">Céu Aberto</option>
            <option value="">Subterrânea</option>
            <option value="">Céu Aberto e Subterrânea</option></select>
    </div>
    <div class="button-four">
        <label for="">Métodos de Lavra:</label>
        <select class="M_Lavra">
            <option value="">--Selecione--</option>
            <option value="">Lavra por bancada em encosta</option>
            <option value="">Lavra em bancada em cava</option>
            <option value="">Lavra de rochas aparelhadas c/ corte e/ou pólvora</option>
            <option value="">Lavra de rochas aparelhadas com jet flame</option>
            <option value="">Lavra de rochas aparelhadas com fio diamantado</option>
            <option value="">Lavra por tiras</option>
            <option value="">Lavra com trado (auger mining)</option>
            <option value="">Lavra por desmonte hidráulico</option>
            <option value="">Lavra por dragas mecânicas de arraste</option>
            <option value="">Lavra por dragas mecânicas de sucção</option>
            <option value="">Lavra por dragline ou shovel montadas sobre balsa</option>
            <option value="">Lavra por dragas hidráulica por sucção direta</option>
            <option value="">Lavra por furos de sonda</option>
            <option value="">Lavra por lixiviação</option>
            <option value="">Outros métodos a céu aberto</option>
            <option value="">Realce por câmaras e pilares (room and pillar)</option>
            <option value="">Realce por subníveis abertos (sublevel stoping)</option>
            <option value="">Realce aberto (open stope)</option>
            <option value="">Realce por desabamento em subníveis (sublevel caving)</option>
            <option value="">Realce por armazenamento (shrinkage stope)</option>
            <option value="">Realce por corte e enchimento (cut and fill stope)</option>
            <option value="">Realce por tiras ascendentes com enchimento</option>
            <option value="">Realce por tiras descendentes</option>
            <option value="">Realce por tiras horizontais (vertical crater retreat)</option>
            <option value="">Realce por desabamento do minério (block caving)</option>
            <option value="">Realce em frente longa (long wall stope)</option>
            <option value="">Realce em frente curta (short wall stope)</option>
            <option value="">Realce emadeirado (timbered stope)</option>
            <option value="">Realce emadeirado (timbered stope)</option>
            <option value="">Outros métodos subterrâneos</option>
            </select>
    </div>
    <div class="button-five">
        <label for="Recuperation_lavra">Recuperação na Lavra por Método:</label>
        <input type="text" name="Recuperation_lavra" id="Recuperation_lavra"> %
    </div>
    
    <div class="button-add1">
        <button value="submit">Adicionar</button>
    </div>

    <div class="sub-barra4">
        <h2>Profundidade da Mina</h2></div>

        <div class="form1">
        <label for="">Atual:</label>
        <input type="text" name="Actual" id="Actual" style="margin-right: 10px;"> 

        <label for="">Projetada(final):</label>
        <input type="text" name="projected_end" id="projected_end">
        </div>
    </div> 

    <div class="sub-barra5">
        <h2>Relação Estéril/Minério Realizada</h2></div>

        <div class="form2">
        <label for="">Estéril:</label>
        <input type="text" name="Esteril" id="Esteril" style="margin-right: 5px;"> / 
        <label for="">Minério:</label>
        <input type="text" name="ore" id="ore" style="margin-right: 10px;">
    </div>

    <div class="sub-barra6">
        <h2>Capacidade Total Instalada ROM</h2></div>

        <div class="form3">
        <label for=""></label>
        <input type="text" name="" id="" style="margin-right: 10px;">

        <label for="">Unidade:</label>
        <select>
            <option value="">--Selecione--</option>
            <option value="">t/ano</option>
        </select>
    </div>

    <div class="sub-barra7">
        <h2>Uso de Explosivos</h2></div>

        <div class="form4">
        <input type="radio" class="option" name="Sim" value="Sim" autocomplete="off">
        <label for="option">Sim</label>
        <input type="radio" class="option" name="Não" value="Não" autocomplete="off" >
        <label for="option">Não</label>
    </div>

    <div class="buttons-end">
        <label for="">Início de Operação:</label>
        <input type="text" name="operation" style="margin-right: 30px;">

        <label for="">Vida Útil Restante da Jazida/Mina:</label>
        <input type="text" name="" > Anos
    </div>

    <div class="buttons-end1">
        <label for="">N. de Frentes de Lavra:</label>
        <input type="text" name="" style="margin-right: 30px;">

        <label for="">Grau de Mecanização:</label>
        <select id="Mecanização">
            <option value="">--Selecione--</option>
            <option value="">Manual</option>
            <option value="">Semi-Mecanizada</option>
            <option value="">Mecanizada</option></select>
    </div>

    <div class="submit">
        <button type="submit">Gravar</button> <button type="submit">Cancelar</button>
    </div>
</body>
</html>