<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'menu-style.css' %}"> <! -- FUNCIONOU PORRAAAAAAAA - Belt -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/Javascript" src="{% static 'menu-javascript.js' %}"></script>
  <title>Menu</title>
</head>
<body>
  <div class="barra">
    <h1 class="logo">RAL - Relatório Anual de Lavra</h1>
  </div>

  <nav>
    <ul id="ul_principal">
      <li class="li-p">
        <a href="#" class="bt1">
          RAL
          <i class="fa fa-bars"></i>
        </a>
        <ul class="ul-ral">
          <li><a href="cadastrolegal/">
             Cadastro >> </a></li>
          <li><a href="">Direitos Minerários</a></li>
          <li><a href="">Informações Complementares</a></li>
          <li><a href="">Imprimir RAL</a></li>
          <li><a href="">Resumo do RAL</a></li>
          <li><a href="">Erros e avisos</a></li>
        </ul>
      </li>
      <li class="li-p">
        <a href="#" class="bt2">
          LAVRA
          <i class="fa fa-bars"></i>
        </a>
        <ul class="ul-lavra">
          <li><a href="">Dados Básicos das Minas</a></li>
          <li><a href="">Agrupamento de Processos das Minas</a></li>
          <li><a href="">Reservas Minerais</a></li>
          <li><a href="">Responsável Técnico pela Lavra</a></li>
          <li><a href="">Produção Bruta</a></li>
          <li><a href="">Informar Custos</a></li>
          <li><a href="">Mercado Consumidor</a></li>
          <li><a href="">Informar Meio Ambiente</a></li>
          <li><a href="">Informar Investimentos</a></li>
        </ul>
      </li>
      <li class="li-p">
        <a href="#" class="bt3">
          BENEFICIAMENTO
          <i class="fa fa-bars"></i>
        </a>
        <ul class="ul-beneficiamento">
          <li><a href="">Dados Básicos das Usinas</a></li>
          <li><a href="">Dados de Tratamento e Transferência</a></li>
          <li><a href="">Produção Beneficiada</a></li>
          <li><a href="">Informar Custos</a></li>
          <li><a href="">Mercado Consumidor</a></li>
          <li><a href="">Informar Meio Ambiente</a></li>
          <li><a href="">Informar Investimentos</a></li>
        </ul>
      </li>
      <li class="li-p">
        <a href="#" class="bt4">
          CADASTRO
          <i class="fa fa-bars"></i>
        </a>
        <ul class="ul-cadastro">
          <li><a href="">Máquinas e Equipamentos</a></li>
          <li><a href="">Insumos</a></li>
          <li><a href="">Balanço Hídrico</a></li>
          <li><a href="">Mão de Obra/Saúde/Seg.Trabalho</a></li>
          <li><a href="">Matriz Energética</a></li>
          <li><a href="">Disposição Rejeitos/Estéril</a></li>
        </ul>
      </li>
    </ul>
    <a href="" class="usuario">
      {% for show in shows %}
      Seja bem vindo,{{show.username}}
      {% endfor %}
    <i class="fa fa-user-circle-o"></i>
    </a>
    <a href="/logout" class="logout2">
      Sair
      <i class="fa fa-times-circle"></i>
    </a>
  </nav>
</body>
</html>